:root {
  --nomenu_margin_top: 1rem;
  --clic_color: #1355F5;
  --clic_color_alt: rgb(0, 102, 255);
  --contrast: #FFF;
  --contrast_neg: #000;
  --contrast_alt: #eff7dc;
  --contrast_min: #2985be;
  --contrast_minmin: #c7c7c7;
  --clic_color_visited: #6f1de2;
  /* widths */
  --col-width: 350px; 
  --content_article_w: 850px;
  --content_article_w_demi: calc(var(--content_article_w) / 2);
  --content_article_wdemi: calc(26px - var(--content_article_w_demi));
  --popup_w: 100%;
  --am_mod_w: calc(var(--content_article_w) - 27px);
  --minimap_w:200px;
  /* padd / pos */
  --padding_top: 1.6rem; 
  --padding_top_neg: calc(0px - var(--padding_top));
  --padding_left: 50px;
  --padding_right: 20px;
  --paddingtop_head: 1rem; 
  /* fonts */
  --p_font_size: 17px; 
  --p_font_size_small: 17px;
  --p_line_h: 2em;
  --p_line_h_small: 1.5em;
  --h1_title_coll: 20px;
  --h1_font_size: 20px;
  /* pop */
  --p_font_size_s: 14px; 
  --p_line_h_s: 1.4em;
  --popup_maxh: none;
  /* grid */
  --divsix: calc(100 / 6);
  --home_min_h: calc(100vh - (3px * 12));
}


* {
  padding:0; margin:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:visited,
a {
  text-decoration: none !important;
  color: #000 !important;
}
#footer_extra_icons a,
#search_result_total_reset,
#admin_infos a,
a.admin_modify,
#breadcrumbs a {
  color: blue !important;
}
[data-private="private"] {
  display:none;
}

/* 
.container {
  display: flex;
  text-align: center;
  flex: content;
  flex-flow: row;
}
.item {
  vertical-align: middle;
  display: flex;
  flex-direction: inherit;
  width: calc(100vw / 5 - 2px);
  height: calc(100vh / 5 - 2px);
  text-align: center;
  justify-content: space-around;
  align-items: center;
} */
/* 
.item:nth-child(5n+1) {
  clear: both;
} */



/* 

.container {
  display: flex;
  text-align: center;
  flex: content;
  flex-flow: row;
  height: 100vh;
  width: 100vw;
}
.item {
  vertical-align: middle;
  display: flex;
  flex-direction: inherit;
  width: 100vw;
  height: calc(100vh / 5 - 2px);
  text-align: center;
  justify-content: space-around;
  align-items: center;
} */








.internal_yet::before, 
.internal_yet::after {
  content: "[";
  color: var(--contrast_neg);
}
.internal_yet::after {
  content: "]";
  color: var(--contrast_neg);
}
.popup {
  box-sizing: border-box;
  /* max-width: var(--popup_w); */
  /* white-space: break-spaces; */
  font-size: var(--p_font_size_s);
  line-height: var(--p_line_h_s)!important;
  position: absolute;
  /* border: 3px solid var(--clic_color) !important; */
  /* border-radius: 4px; */
  /* padding: 12px 17px 12px 15px !important; */
  /* background: var(--contrast_alt); */
  /* transform: translateY(calc(-100% + 2em) );  */
  /* margin-top: 0.5em; */
  pointer-events: none !important;
  /* max-height: var(--popup_maxh); */
  display: block;
  display: inline-grid;
  overflow: hidden;
  /* filter: hue-rotate(20deg) saturate(0.5) !important; */
  z-index: 2;
  /* min-width: 300px; */
  padding: 8px 12px 5px 11px !important;  
  /* margin-top: 0.6em; */
  /* background: #FFF; */
  /* height: 100%; */
  width: 100%;
}
/* .popup[data-popup_type="home"] {
margin-top: -0.8em;
} */
.popup.debug {
  pointer-events: unset;
}
.popup:not(.debug):hover,
.popup:not(.active) {
  visibility: hidden;
}
[data-type="item"]:not(:hover) .popup:not(.debug) {
  display: none;
}

a.relatt_link:active + .popup:hover,
a.relatt_link:active + .popup {
  visibility: visible;
  pointer-events: unset;
}

.popup_content {
  align-content: center;
}

/* .popup .popup_content::before { */
  /* content: "..."; */
  /* position: absolute; */
  /* background: var(--contrast_alt); */
  /* padding: 5px 10px 3px 0; */
  /* width: 100%; */
  /* margin-top: 212px; */
  /* height: 30px; */
/* } */

.popup .popup_content {
  /* padding-bottom: 15px !important; */
  /* --after_margintop: 0; */
  background: #FFFFFFD6;
  background: #FFF;
  width: inherit;
}
.popup.trop_grand .popup_content::before {
  margin-top: 0 !important;
  padding-top: 0;
  top: calc(100% - 27px);
  padding-bottom: 65px !important;
  display: block;
  left: 9px;
}

.popup .popup_content > :last-child {
  margin-bottom: 0;
}

.popup {
  /* max-height: attr(data-popup_maxh); */
  /* max-width: 300px; */
  font-size: 13px;
  box-sizing: content-box;
  padding: 0px 3px 30px 3px !important;
  min-height: 100px;
  min-height: 13vb;
  min-height: 16vb;
  margin-top: -2vb;
  display: flex;
  justify-content: center;
  justify-content: start;
  align-self: center;
}




footer, #admin_infos {
  height: 1.5rem;
  overflow: hidden;
  float: left;
  width: 100%;
}
footer {
  padding-left: 7px;
}
.fa.fa-tor-onion {
  display: none;
}
/* body#home #admin_infos, */
body:is(#home) footer{
  text-align: center;
}
body#home #admin_infos {
  text-align: right;
  padding-right: 10px;
  padding-top: 3px;
}
body:not(#home) #admin_infos {
  text-align: right;
  padding-right: 10px;
  padding-top: 4px;
}
article.post.default_solo .admin_modify.item {
  margin-left: -5px;
  margin-top: -11px;
  color: blue !important;
  margin-bottom: -11px;
}
.fa.fa-gitlab {
  z-index: 99999;
  position: relative;
}


#container_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3px;
  grid-auto-rows: 100px;
  width: 100vw;
  height: 100%;
  height: var(--home_min_h);
  /* min-height: calc(100vh - 2rem); */
  grid-auto-rows: 20%;  grid-auto-columns: 20%;
  grid-template-rows:  
  minmax(18%, max-content) repeat(auto-fill, 14.3%) 22.6%;
  /* minmax(14.80%, max-content) repeat(auto-fill, 14.80%) 20%; */
  
  /* grid-template-areas: "a . . . b" "c . . . ." "d e . . ." "f g h . ." "i j k l m"; */
  grid-template-areas: "b . . . . c" 
                       "d . . . . a" 
                       "e . . . . f" 
                       "g h . . . ." 
                       "i j . . . ." 
                       "k l . . m n "
}

.range_letter {
  position: relative;
  z-index: 9999;
  color: red;
  text-shadow: 1px 1px yellow, -1px -1px yellow, -1px 1px yellow, 1px -1px yellow;
  width: 10px;
  width: 100%;
  margin: auto;
  margin-top: -12px;
  line-height: 14px;
}
.indexnum {
  /* display: none; */
  filter: hue-rotate(50deg);
}
body#home #wrapper {
  min-height: var(--home_min_h);
  clear: both;
  float: left;
}

[data-type="item"] {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-basis: 250px;
  flex-direction: column;
  z-index: 99;
}
.excluded_item {
  align-items: center;
  justify-content: center;
  text-decoration: line-through;
}

.a_cover[data-origine^="home"] {
pointer-events: none;
}




[data-type="item"]:not(:hover) .a_cover[data-origine^="home"] {
  display: none;
}
[data-type="item"]:is(:hover) .a_cover {
  position: absolute;
  position: absolute;
  display: block;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.cover_icon {
  height: 66px;
  position: relative;
  top: 6px;
  height: 8vb;
}
[data-type="item"] a.relatt_link {
  font-size: 1vmax;
}

body:not(#home) .container {
  padding: 1rem 2rem 0.5rem 2rem;
  max-width: 1030px;
  float: left;
  height: 100%;
  min-height: calc(100vh - 3rem);
}
#wrapper {
  clear: both;
  height: 100%;
  float: left;
}
article.post {
  float: left;
  clear: both;
}
article + article {
  margin-top: 2rem;
}
.article_title {
  margin-top: -10px;
  display: block;
}

.cover {
  width: 190px;
}
header {
  display: flex;
  gap: 20px;
}
.collapsible, .collapsible + label {
  display: none;
}
.content-padding {
  padding-top: 3rem;
}

body[data-page_template!="default"] .meta_wrapper {
  margin-top: -8px;
  margin-bottom: 2.5rem;
}
#admin_infos_search,
#all_links {
  float: right;
  /* padding-right: 3px; */
  padding-left: 10px;
}
body#home #all_links {
  display: none;
}
#breadcrumbs {
  height: 2rem;
  padding-inline-start: 0;
  margin-top: 0rem;
  position: relative;
  top: -0px;
  margin-left: -0.2rem;
  position: absolute;
}
#breadcrumbs span {
  padding: 0;
}
#breadcrumbs a + i::after {
  content: ">";
  margin-left: 6px;
}

#caroussel span.carou_item:not(.active) {
  display: none;
}


#caroussel img {
  max-height: 75vh;
  display: block;
}
@media (orientation: portrait) {
  #caroussel img {
    max-height: none;
    width: 100%;
  }
}

#caroussel,
#caroussel span {
  margin-top: 1rem;
}

.carou_item:not([data-length="1"]) {
  width: calc(100vw - 4rem);
  display: block;
  cursor: pointer;
}

content_article {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  /* margin-bottom: 3rem; */
}
.content {
  float: left;
}

.admin_modify.item {
  margin-top: -1.2em;
  position: absolute;
}
.content .admin_modify.item {
  margin-top: 0;
  position: relative;
  margin-left: auto;
  padding: 5px 3px 6px 5px;
  text-decoration: none;
  color: blue !important;
  background: #FFF !important;
  line-height: 10px;
  font-size: 10px;
  justify-content: unset;
  display: flex;
  align-items: center;
  text-align: center;
  float: left;
  margin: 0;
}

.admin_modify.home_item {
  font-size: 10px;
}

#solo_title.else h1 {
  margin-bottom: 0.4rem;
}
#solo_title h1 {
  display: block;
  float: left;
  clear: both;
}


content_article ul {
  padding-left: 1rem !important;
}
content_article p {
  margin-bottom: 0.8rem;
}
br {
  display: block;
  margin-bottom: 0.8rem;
}
#wrapper_content[data-page_template="default"] header {
  margin-bottom: 0.8em;
}
#home {
  background-size: cover !important;
}
#home {
  /* background-size: 100vh !important; */
  /* background-repeat: no-repeat !important; */
  /* background-position: top center !important; */
  
  background-repeat: no-repeat !important;
  background-position: center 10vh !important;
  background-image: var(--bg-image_fond), var(--bg-image_fond_alt), var(--bg-image_fond_altalt) !important;
  background-position: center 12vh, center 10vh, center 8vh !important;
  background-repeat: no-repeat, no-repeat, no-repeat !important;
  background-size: 20vw, 18vw, 16vw !important;  
}
body#home #wall {
  /* background: #FFF; */
  /* background: #FFFFFFD6; */
  width: 100vw;
  height: calc(100vh - 0rem);
  display: block;
  /* position: fixed; */
}

body footer {
  margin-top: -0.5rem;
}
body#home footer {
  margin-top: -3rem;
  height: 3rem;
}
body:not(#home) footer {
  margin-top: 0;
  margin-bottom: 25px;
  height: auto;
  padding-left: 2em;
}
#top_page {
  display: none;
}

body:not(#home) {
  background: none !important;
}
body:is(#home) {
  /* background: none !important; */
}
#container_grid a, #container_grid .popup * {
  text-shadow: 1px 1px 1px #FFE7B8, -1px -1px 1px #D1F4E9;
}

.search-wrapper + .accordion {
  display: none;
}
#search_result_total {
  margin-bottom: 1rem;
}
.article_content {
  max-width: 800px;
  display: block;
}

/* .home_items.empty { */
  /* display: none !important; */
/* } */

@media screen and (max-width: 800px) {
  #container_grid {
    display: block;
    height: 100%;
    margin-bottom: 6rem;
  }
  [data-type="item"].empty {
    display: none;
  }
  [data-type="item"] {
    margin-bottom: 3vb;
  }
  [data-type="item"] a.relatt_link {
    font-size: 2.5vmax;
  }
  body#home .content {
    padding-top: 26vh;
  }
  body#home #admin_infos {
    text-align: left;
    padding-right: 12px;
    padding-top: 5px;
    padding-left: 13px;
  }
}