{% set pim = page %}
{% set pagepage = page %}
{# ! DIV CONTENT #}
<div class="modular-row callout module">
  {% include 'partials/modular_mod.html.twig' with {'origine':'module'} %}
</div> {# ! modular-row callout #}