<div class="modular-row callout">
  {# TODO REDO CLeanUP #}
  
  {% set tokens = explode('/', page.url) %}
  {% set tok1 = tokens[sizeof(tokens)-1] %}
  {% set tok2 = tokens[sizeof(tokens)-2] %}
  {% set tok3 = tokens[sizeof(tokens)-3] %}

  {# TODO ALT #}
  {# {% set exppath = geturl|split('/') %} #}
  {# {% set current_section = exppath.1 %} #}

  {% set titre = (tok3) ? tok2 : tok1 %}
  {% set extra_titre = (tok3) ? [tok1]|join|replace("_","#") : "" %}
  {% set extra_titre_wrap = (extra_titre) ?  ["<span class='my_thash'>",extra_titre,"</span>"]|join : "" %}
  {% set have_parent= (tok3) ? "oui" : "non" %}
  {% set type = tokens[1] %}
  {% set url_fix = (tok3) ? ["/",type,"/",tok2,"#",tok2,tok1]|join : ["/",type,"/",tok2]|join %}
  
  <div class="am_mod" data-titre="{{titre}}" data-type="{{type}}" data-url="{{page.url}}" data-haveparent="{{have_parent}}">
    <a class="admin_modify item mod" href="/admin/pages{{page.url}}">Edit.</a>
    
    <span class="mod_mod mod_url only">
      <a href="{{url_fix}}">{{titre}}{{extra_titre_wrap}}</a>
    </span>
    
    {% if page.header.title_visible|first %}
      {% set fix_page_title_only = page.title|regex_replace('/^_/', '') %}
      {% set fix_page_title = (page.parent.title) ? [page.parent.title, "_", fix_page_title_only]|join|lower : fix_page_title_only %}
      {# ! titre #}
      {% set title_pls = ["<h1 class=\'post_title modular\' id=\'", fix_page_title, "\'>", fix_page_title_only, "</h1><span class='goto_title'><a class='goto' href='#",fix_page_title,"'>#</a></span>"]|join %}
      {{ title_pls }}
    {% endif %}
    
    {# ! content #}
    <div class="module_content"> 
      {# {{ header.content.text }} #}
      {{ content }}
    </div>

  </div> {# !am_mod#}
  {# ! ----- include #}
  {% include 'partials/related.html.twig' with {'origine':'module', 'cible':'relat_mod'} %}

</div> {# ! ---- modular-row callout #}