<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}" class="noscript">
{# ? Default nominimap / template_default => minimap #}
{# 
    {% if page.template == "default" %}
   {% set minimap = (page.header.minimap != 'nominimap') ? "minimap" : "nominimap"  %}
{% else %}
   {% set minimap = (page.header.minimap != 'minimap') ? "nominimap" : "minimap"  %}
{% endif %}
 #}


<head>
        {% block head %}
            <meta charset="utf-8" />

            {% if page.url == "/" %}
              {% if site.metadata.home_title %}
                <title>{{ site.metadata.home_title }}</title>
              {%else%}
                <title>{{ site.title }}</title>
              {%endif%}
            {%else%}
               <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title> 
            {%endif%} {# if page.url #}

            {% include 'partials/metadata.html.twig' %}
            
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            
            {% set is_private = (page.header.private.enabled == "private") ? "private" : "public" %}
            {% if (is_private == "private") %}
                 <meta name="robots" content="noindex" />
            {%endif%}

            <link rel="icon" type="image/png" href="{{ url('theme://img/favicon.png') }}" />

            {% block stylesheets %}
                {# ? https://github.com/mozilla/Fira #}
                {% do assets.addCss('theme://fonts/fira/fira.css') %}
                {# ? https://github.com/ForkAwesome/Fork-Awesome #}
                {% do assets.addCss('theme://fonts/forkawesome/fork-awesome.css') %}
                {% do assets.addCss('theme://css/main.css') %}
                
                {# todo -- PRINTJS #}
                {# {% do assets.addCss('theme://css/interface.css') %} #}
            {% endblock %}

            {% block javascripts %}
                {% do assets.add('jquery',101) %}
                {% do assets.addJs('theme://js/marked.min.js') %}
                {% do assets.addJs('theme://js/main.js') %}
                {% do assets.addJs('theme://js/ua-parser.pack.js') %}
                
                {# todo -- PRINTJS #}
                {# todo follow -->  https://gitlab.coko.foundation/pagedjs/starter-kits/print-a-webpage #}
                {# ? https://gitlab.com/nicolastaf/pagedjs-reload-in-place #}
                {# ? {% do assets.addJs('theme://js/reload-in-place.js') %} #}

                {# ? SOURCE : https://www.stefanjudis.com/a-firefox-only-minimap/ #}
                {% do assets.addJs('theme://js/minimap.js') %}
            {% endblock %}
            
            {# ? <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> #}
            {# ? <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css"> #}
            {# ? <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous"> #}
            <script src="https://cdn.jsdelivr.net/npm/ua-parser-js/src/ua-parser.min.js"></script>

            {% block assets deferred %}
                {{ assets.css()|raw }}
                {{ assets.js()|raw }}
            {% endblock %}

        {% endblock head%}
    </head>





    {% set widthpage = page.header.page_size|first %}
    {%set modular_card = (page.header.modules_card|first == "1") ? "oui" : "non" %}




{# ! SCRIPT all_links #}
<script>
    const elWithLinks = document.querySelector("#all_links");
    if (elWithLinks) {
        const links = elWithLinks.querySelectorAll("a");
        function openGoogleByMethod() {
            // Click each links => popup save .md
            links.forEach( (el)=>{
            el.click();
            });
        }  
    }
    // WILL GIVE ERROR ON PAGE WITHOUT MULTI PAGES 
    // (aka. collection... dont have #all_links > a)
</script>

<script>
    var uap = new UAParser();
        var result = uap.getResult();
        $("html").attr("data-engine", result.engine.name).attr("data-browser", result.browser['name']);
</script>
    

{# ! RANDOM IMAGE ON HOMEPAGE #}
{% if page.slug == "home" %}
{% for img in page.media|randomize  %}
    {% if loop.first %}
        {% set img_fond = img.url %}
    {% elseif loop.index == "2" %}
      {% set img_fond_altalt = img.url %}
    {% elseif loop.last %}
      {% set img_fond_alt = img.url %}
      {# {{ img_fond }} #}
      {# {{ img_fond_alt }} #}
      {# {{ img_fond_altalt }} #}
       <body id="{{page.slug}}" class="{% if config.plugins.login.enabled and grav.user.username %}logged_in {%endif%}{% if site.menu_visible.enabled == false %}hide_menu{% endif %}{%if page.header.body_classes %} {{ page.header.body_classes }}{% endif %}" data-modular_card="{{modular_card}}" data-widthpage="{{widthpage}}" data-page_template="{{page.template}}" style="--bg-image_fond: url({{img_fond}}); --bg-image_fond_alt: url({{img_fond_alt}});  --bg-image_fond_altalt: url({{img_fond_altalt}});">
    {% endif %}
{% endfor %}
{% else %}
    <body id="{{page.slug}}" class="{% if config.plugins.login.enabled and grav.user.username %}logged_in {%endif%}{% if site.menu_visible.enabled == false %}hide_menu{% endif %}{%if page.header.body_classes %} {{ page.header.body_classes }}{% endif %}" data-modular_card="{{modular_card}}" data-widthpage="{{widthpage}}" data-page_template="{{page.template}}"">
{% endif %}
{# ! END - RANDOM IMAGE ON HOMEPAGE #}




    <div id="wall">
        {% if config.plugins.login.enabled and grav.user.username %}
            <div id="admin_infos">{% include 'partials/login-status.html.twig' %} <a href="/admin">A.</a> <a href="/admin/pages">P.</a> <span id="admin_infos_search">— <a href="/search">R.</a></span>
        {% else %}
            <div id="admin_infos"><a href="/admin">A.</a> <span id="admin_infos_search"><a href="/search">Rechercher</a></span>
        {% endif %}
        {#! DIV admin_infos ===> END after DWL LINKS to FILES #}




        {# ? LINKS to download FILE.md /or/ FILES (in collection) #}
        {% set is_private = (page.header.private.enabled|first == "private") ? "private" : "public" %}

        {% if (is_private != "private") and (page.template == "default") %}
            {% set root_clean = page.path|regex_replace("[\/var\/www\/cms\/grav_dn\]","") %}
            {% set mdfile_name = [root_clean, "/", page.template, ".md"]|join %}
            {% set page_slug = page.slug|regex_replace("[\ ]", "_") %}
            {% set page_parent_slug = page.parent.slug|regex_replace("[\ ]", "_") %}
            <div id="all_links">
                <a id="dwl_files" href="{{mdfile_name}}" download="{{page.slug}}.md">File</a>
            </div>

        {# ? IF Collection + page.header.page_size.enabled=="2" (aka "widthpage") #}
        {% elseif (is_private != "private") and (page.template == "collection") and (page.header.page_size.enabled|first=="2") %}

            <div id="all_links">
                {% set i = 0 %}
                {% set order_by_default = header.content.order.by %}
                {% set order_by = header.content.order.by ? header.content.order.by : "folder"  %}
                {% set order_dir = header.content.order.dir ? header.content.order.dir : "asc"  %}
                
                {% for p in page.children.order(order_by,order_dir) %}
                    {% set i = i + 1 %}
                    {% set order_number = ["0",i]|join %}
                    {# ? {{order_number}} #}

                    {% set root_clean = page.path|regex_replace("[\/var\/www\/cms\/grav_dn\]","") %}
                    {% set mdfile_name = (order_by_default == "folder") ? [root_clean, "/", order_number, ".", p.slug, "/", p.template, ".md"]|join : [root_clean, "/", p.slug, "/", p.template, ".md"]|join %}
                    {# ? {% set page_slug = (order_by_default == "folder") ? [root_clean, "/", order_number, ".", p.slug]|join : [root_clean, "/", p.slug]|join  %} #}
                    {# ? {% set page_parent_slug = p.parent.slug|regex_replace("[\ ]", "_") %} #}
                    
                    <a class="dwl_file" style="display:none;" data-url="{{p.url}}" href="{{mdfile_name}}" download="{{p.slug}}.md">File {{p.slug}}</a>
                {% endfor %}        
            
            <a onclick="openGoogleByMethod()" id="dwl_files">Files</a>
            
        {% endif %}
        
        </div> 
        {# ! END admin_infos %}

    <div id="wrapper">

        {# ?? {{page.template}} #}

        {% if site.menu_visible.enabled == true %}
        <div class="main-nav">
            <div class="container">
                    <header class="group top-nav">
                         {% include 'partials/navigation.html.twig' with {'nav_position':'top'} %}
                    </header>
            </div>
        </div>
        {% endif %}

        {% block body %}
                    
            {# wrapper_content #}
            {# OLD TWP FR #}
            {% if page.header.border_color != "" %}
                <div id="wrapper_content" data-color="{{page.header.border_color}}" data-page_template="{{page.template}}" data-page_slug="{{page.slug}}" datadata-parent='{%if ppage_slug not in some_array %}{{page.parent.slug}}{% else %}{{page.slug}}{% endif %}'>
            {%else%}
                <div id="wrapper_content" data-color="#000" data-page_template="{{page.template}}" data-page_slug="{{page.slug}}" data data-parent='{%if ppage_slug not in some_array %}{{page.parent.slug}}{% else %}{{page.slug}}{% endif %}'>
            {%endif%}


                {# block content #}
                <div class="content">
                    {% if page.collection and page.template == "collection" %}
                        <div class="container collection">
                    {% elseif page.template == "tags" %}
                        <div class="container not_collection tags">
                    {% elseif page.collection and page.template == "modular" %}
                        <div class="container not_collection modular">
                    {% elseif page.collection and (page.template == "default") %}
                        <div class="container not_collection default">
                    {% elseif page.template == "simplesearch_results" %}
                        <div class="container collection search">
                    {% else %} 
                        <div class="container not_collection">
                    {% endif %} 

                    {%if page.slug != "home" %}
                        {% block content %}{% endblock %}
                    {% else  %}
                        {% include 'specials/homepage.html.twig' %}
                    {% endif %}
                    </div>
                </div>
                {# content #}
                
            </div> {# WRAPPER_Content #}

        {% endblock %}
        {# ! END - block body #}        
   
    </div> {# WRAPPER #}

    <footer data-color="{{site.border_color ? site.border_color : '#000'}}">
        {% if site.menu_visible.enabled == true %}
           {% include 'partials/navigation.html.twig' with {'class_nav':'c-menot', 'state':'footer'} %}
        {% endif %}

        <div id="footer_extra_icons">
            <a class="footer_menu_extras" id="onion_footer"><i class="fa fa-tor-onion" aria-hidden="true"></i></a>
            <a class="footer_menu_extras" id="gitlab_footer" href="https://gitlab.com/bonnebulle/grav_ours"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
            
            <div id="footer_cc">
                <i class="fa fa-cc-nd" aria-hidden="true"></i>
                <i class="fa fa-cc-share" aria-hidden="true"></i>
                <i class="fa fa-cc-by" aria-hidden="true"></i>
                <i class="fa fa-cc-nc " aria-hidden="true"></i>
            </div>
        </div>
        {%if page.slug != "home" %}
            <a href="#" id="top_page" class="c-menot">⤊ Haut de page</a>
        {% endif %}

        {# {{page.header.minimap|dump}} #}
        {# {% if page.header.minimap != "nominimap" %}
         ? SOURCE : https://www.stefanjudis.com/a-firefox-only-minimap/ 
        <mini-map>
            <div class="screen-image">
                <div class="pointer" style="height: 121.389px;"></div>
                <div class="canvas" style="width: 90px; height: 249px;"></div>
            </div>
        </mini-map>
        {% endif %} #}

    </footer>
    
    {{ assets.js('bottom')|raw }}

    </div> {# ! wall #}
    </body>
</html>


  
