{% set crumbs = breadcrumbs.get() %}
{% set breadcrumbs_config = config.plugins.breadcrumbs %}
{% set divider = breadcrumbs_config.icon_divider_classes %}



{% if crumbs|length > 1 or breadcrumbs_config.show_all %}
<div id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList" data-origine="{{origine}}">
    {% if breadcrumbs_config.icon_home %}<i class="{{ breadcrumbs_config.icon_home }}"></i>{% endif %}
    {% for crumb in crumbs %}
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        {% if loop.first %} 
            <a class="first_cumb" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ crumb.url|e }}" itemid="{{ crumb.url|e }}"><span itemprop="name"><i class="fa fa-home no_divid" aria-hidden="true"></i></span></a><i class="{{ divider }}"></i>
        {% elseif not loop.last %} 

            {# ! NOT ! LAST #}
            {% if crumb.routable %}

                {%if (page.slug != "l") %}
                    {% set final_c = (crumb.menu|e|length>12) ?  crumb.slug|truncate(12) : crumb.slug|e %}
                    {% set tokens = explode('/', page.url) %}
                    {% set t1 =  tokens[sizeof(tokens) - sizeof(tokens) + 1] %}
                    {% set is_abc = (t1 == page.slug) ? "oui" : "non" %}
                    <a class="notlast_cumb a" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ crumb.url|e }}" itemid="{{ crumb.url|e }}"><span itemprop="name" class="final routable notl" data-is_abc="{{is_abc}}">{{ final_c }}</span></a><i class="{{ divider }}"></i>
                {% else %} {# ! tag liste (l) #}
                    <a class="notlast_cumb b" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/tags/" itemid="{{ crumb.url|e }}"><span id="tags_cumb"><i class="fa fa-tags" aria-hidden="true"></i></span></a><i class="{{ divider }}"></i><a class="notlast_cumb d" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/tags/l" itemid="{{ crumb.url|e }}">liste</a>
                {% endif %}

            {% else  %}
                <span class="notlast_cumb e notroutable" itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ crumb.url|e }}">
                    {%set final_c = (crumb.menu|e|length>12) ?  crumb.slug|truncate(12) : crumb.slug|e%}
                    <span itemprop="name" class="final unroutable">{{ final_c }}</span>
                </span>
                <i class="{{ divider }}"></i>
            {% endif %}
            
        {% else %} {# ! LAST #}
        {# ?? last #}
            {% if breadcrumbs_config.link_trailing %}
            {# ?? last trail #}
                <a class="trailing" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ crumb.url|e }}" itemid="{{ crumb.url|e }}">
                    {%set final_c = (crumb.menu|e|length>12) ?  crumb.slug|truncate(12) : crumb.slug|e%}
                    <span itemprop="name" class="notfinal">{{ final_c }}</span>
                    {# ??note <span itemprop="name">{{ crumb.menu|e }}</span> #}
                </a>
            {% else %}
            {# ?? last no trail #}
                <span class="trailing notroutable" itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ crumb.url|e }}">
                    {% if (page.slug == "tags") %} {# ! tags #}
                      <span id="tags_cumb"><a href="/tags/"><i class="fa fa-tags" aria-hidden="true"></i></a></span>
                    {% elseif (page.slug == "search") %} {# ! search #}
                      <span id="tags_cumb">recherche</span>
                    {%else%} {# ! all #}
                      {%if crumb.menu != "l" %}
                        {%set final_c = (crumb.menu|e|length>12) ?  crumb.slug|truncate(12) : crumb.slug|e%}
                        {% set tokens = explode('/', page.url) %}
                        {% set t1 =  tokens[sizeof(tokens) - sizeof(tokens) + 1] %}
                        {% set is_abc = (t1 == page.slug) ? "oui" : "non" %}
                        {% set abc_title = (is_abc == "oui") ? page.title : page.slug %}
                        {% if is_abc == "oui" %}
                           {#  ?<span itemprop="name" data-is_abc="{{is_abc}}" class="final abc"><span data-href="{{page.url}}" class="last notl">{{ abc_title }}</span></span> #}
                        {%else%}
                           {#  ?{%if page.template != "modular" %} #}
                              {#  ?<span itemprop="name" data-is_abc="{{is_abc}}" class="final notabc">{{ abc_title }}</span> #}
                           {# ? {%else%} #}
                               {#  ?<a itemprop="name" data-is_abc="{{is_abc}}" class="final notabc" href="{{page.url}}">{{ abc_title }}</a> #}
                           {#  ?{%endif%} #}
                        {%endif%}
                      {%else%}
                        {#  ?<span itemprop="name">liste</span> #}
                      {%endif%}
                    {%endif%}
                    
                    {# ? <span itemprop="name">{{ crumb.menu|e }}</span> #}
                </span>
            {% endif %}
        {% endif %}
        <meta itemprop="position" content="{{ loop.index }}" />
    </span>
    {% endfor %}
{# </div> #}
{% endif %}