<div class="content not_search_results {{origine}}">
  {% set orderby_pls= (page.header.content.order.by) ? page.header.content.order.by : "header.date_pub"  %}
  {% set orderdir_pls= (page.header.content.order.dir) ? page.header.content.order.dir : "dsc"  %}
  {% set pagination_pls= (page.header.content.pagination) ? page.header.content.pagination : "non"  %}
  {% set limit_pagination_pls= (page.header.content.pagination) ? page.header.content.limit : "21"  %}
  {# ? {{orderdir_pls}} #}
  {# ? {{orderby_pls}} #}
  {# ? {{pagination_pls}} #}
  {# ? {{limit_pagination_pls}} #}
  {# ? {{uri.params}} #}
  {# ? {{pimp.url}} #}

  {% set is_parent_modular = page.header.modular_parent %}  
  {# {{header.private.enabled|dump}} #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ? ############## ############# #}
  {# ! ####### FOR --#### PIMP ######}
  {# ? ############ ############# ###}
  {# ! ### FOR ### ! #}
  {# ! Render the list of blog posts (automatically filtered when using pagination) #}
  
  {#  ?? sssllll #}
  {% set collection = page.collection() %}
  {% for pimp in collection.published.order(orderby_pls,orderdir_pls) %}

    {# ? ############## ############# #}
    {# ! ####### MODULAR --#### #######}
    {# ? ############ ############# ###}
    {# ?? sssnnnn #}
      {% if ((is_parent_modular != "") and (header.private.enabled != "private")) or ((is_parent_modular != "") and (config.plugins.login.enabled and grav.user.username)) %}
        {# !! ---- modular_searchpage_items #}
        {# ?? sssnnnn1 #}
        {% include 'partials/modular_searchpage_items.html.twig' with {'origine':'collection', 'cible':'is_parent_modular_bool'} %}
        {# ! ############################################################################ ! #}
        {# ! ############################################################################ ! #}
        {# ! ############################################################################ ! #}
        {# ! ############################################################################ ! #}
        {# ! ############################################################################ ! #}
        {# ! ############################################################################ ! #}
      {% elseif (header.private.enabled != "private") or (config.plugins.login.enabled and grav.user.username) %}
        {# ?? sssnnnn #}
        {# ? ############## ############# #}
        {# ! ####### ELSE NOT MODULAR #####}
        {# ? ############ ############# ###}
          {% include 'partials/default_article.html.twig' with {'origine':origine, 'spec':'search', 'opt':'coll_item'} %}
      {% else %}
        PRIVATE
        {# ?? ssnn #}
      {% endif %}
      {# ! ####### END IF MODULAR #####}

    {% endfor %}
    {# ! ####### END FOR ## PIMP #####}
{# ? ############ ############### #}
{# ! ####### END FOR  PIMP ########}
{# ? ############ ############# ###}      



{# ! ####### PAGINATION ##### ! #}
{% if config.plugins.pagination.enabled and collection.params.pagination %}
    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
{% endif %}
{# ! ####### PAGINATION ##### ! #}

{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}

</div> {# ! .simplesearch #}
