{# {% set origine = origine %} #}
{% switch origine %}
    {% case 'default' %}
       {% set pim = page %}
    {% case 'collection' %}
       {% set pim = page %}
    {% case 'coll_item' %}
       {% set pim = pimp %}
    {% case 'taxtag' %}
       {% set pim = pimp %}
    {% default %}
       {% set pim = pim %}
{% endswitch %}

{# ?? coveeer #}
{% set widthpage = page.header.page_size|first %}
{# ?? {{widthpage}} #}
{# ?? {{ origine  }} #}
{# ?? {{ pim.url }} #}
{# ?? {{spec}} #}

{# ?! FIRST cover_url (lien direct) #}
{# ?! SECOND img_link (choix dans le dossier) #}
{# ?! TROISIEM media (cherche dans le dossier) #}

{# ! NOT private #}
{# {% if (widthpage != [2,3]) %} #}
  {% if spec!="private" %}
    {# ?? not private #}
    {% if (not pim.header.cover_url) %}
      {# ?? aaa0 #}
      {% if (pim.header.img_link) %} 
        {# ?? aaa01 #}
        {# {% set my_image_html =  %} #}
        <a class="a_cover" data-origine="{{origine}} img_link" href="{{pim.url}}">
          {{ pim.media[pim.header.img_link].cropResize(800, 800).html()|raw }}
        </a>
      {% else %} 
      {# ?? pim.header.img_link #}
          {% for image in pim.media %}
            {% if loop.first %}
            {# ?? aaa1 {{spec}} #}
              {# <a href="{{image.url}}"><img src="{{image.url}}">{{image.name}}</a> #}
              <a href="{{pim.url}}">
              {{ image.cropResize(200, 200).html()|raw }}
              </a>
            {% endif %}
          {% else %} {# ? for image in pim.media#}
            {# ?? accc #}
            {% if loop.first %}
            <a class="a_cover" data-origine="{{origine}} default no_img_link no_media" href="{{pim.url}}">
              <img class="cover" src="{{ url('theme://img/default_cover.jpg') }}">
            </a>
            {% endif %}
          {% endfor %} {#for image in pim.media#}
      {% endif %} {#pim.header.img_link#}

    {# ! --- YES COVER URL #}
    {% elseif (pim.header.cover_url) %} 
    {# ?? cccurl #}
      
      {% if (pim.header.cover_url == "#N/A") %}
        {# ?? dddNA #}
        <a class="a_cover" href="{{pim.url}}" data-origine="{{origine}} cover_url but_fail">
          <img class="cover" src="{{ url('theme://img/default_cover.jpg') }}">
        </a>
      {% else %}
        {# ?? eee #}
        <a class="a_cover" href="{{pim.url}}" data-origine="{{origine}} cover_url ok">
          <img class="cover" src="{{ pim.header.cover_url }}">
        </a>
      {% endif %}

    {% else %}

        {# ?? eooe #}
        <a class="a_cover" href="{{pim.url}}" data-origine="{{origine}} no_cover_end">
          <img class="cover" src="{{ url('theme://img/default_cover.jpg') }}">
        </a>
    
    {% endif %} {# --- END direct url #}

  {# ! private #}
  {% else %}

        {# ?? eooe #}
        <a class="a_cover" href="{{pim.url}}" data-origine="{{origine}} no_cover_end">
          <img class="cover" src="{{ url('theme://img/default_cover.png') }}">
        </a>
    
  {# ! --- END PRIVATE #}
  {% endif %} 
{# {% endif %}  #}
    

