
{% set pimp = (pimp) ? pimp : page %}
{% set is_private = (pimp.header.private.enabled == "private") ? "private" : "public" %}
{% set widthpage = page.header.page_size|first %}
{% set spec = (spec) ? spec : "search" %}
{% set opt = (opt) ? opt : "no_opt" %}
{% set nothing_to_hide_txt = "NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher NOTHING TO HIDE rien à cacher"|safe_truncate(200) %}

{# {{spec}}{{opt}} #}
{% if (is_private != "private") or (config.plugins.login.enabled and grav.user.username) %}
  {# ? {{spec}} #}
  {# ? ci ss #}
  {# ? # widthpage 2 == no-cover #}
  {# ! head #}
  {% if (widthpage != "1") and (spec!='head') %}
    <article class="{{article_class}} search_no_query {{origine}}" data-private='{{is_private}}' data-widthpage="{{widthpage}}">
      <header>
          {# !! ---- headers #}
          {# ? {{ widthpage }} #}
          {% if (widthpage != "2") and (widthpage != "3") %}
              {% include 'partials/cover.html.twig' with {'origine':'coll_item', 'spec': spec, 'opt':opt} %}
          {% endif %} 
          {% include 'partials/meta_header.html.twig' with {'origine':'coll_item', 'spec': spec, 'opt':opt} %}
      </header>
      {# ? sss #}
    </article>

  {% elseif (spec=='head') %} {# ! spec head #}
  {# ?? ci ss2 #}

    <article id="header_collection" class="{{article_class}} search_no_query {{origine}}">
      {# <header> #}
          {# !! ---- headers #}
          {# {% include 'partials/meta_header.html.twig' with {'origine':'default', 'spec':spec, 'opt':opt} %} #}
      {# </header> #}
        {# ? ddd #}
      <content_article>
        {% if (page.header.search_content_text=="0") %}
          {# ?? ci ssnotxt #}
        {% elseif contenu_complet|first != "cotenu_ou_resum" %}
          {# ?? ci ssnormal #}
          {{ content|raw
            |regex_replace("/<a class=\"internal_yet relatt_link\" href=\"bulle(.*?)\" id=\"intern_link_a((_(.*?))|)\" data-url=\"bulle_(.*?)\"\>(.*?)\<\\/a\>/", "\[<a id='Bulle_$5' class='relatt_link' target='bulles' href='https://liens.vincent-bonnefille.fr/?$5' popup='\[\[Bulle $5\]\]<br>Bulle/lien sur ma *webothèque* !'>$6</a>\]")
            |regex_replace("/<a class=\"internal_yet relatt_link\" href=\"bib(.*?)\" id=\"intern_link_a((_(.*?))|)\" data-url=\"bib_(.*?)\"\>(.*?)\<\\/a\>/", "\[<a id='Bib_$5' class='relatt_link' target='bib' href='https://bib.vincent-bonnefille.fr/book/$5' popup='\[\[Bib $5\]\] : $6<br>Livre dans ma bibliothèque !'>BIB.$5</a>\]")
            |regex_replace("/<a class=\"internal_yet relatt_link\" href=\"aut(.*?)\" id=\"intern_link_a((_(.*?))|)\" data-url=\"aut_(.*?)\"\>(.*?)\<\\/a\>/", "\[<a id='Aut_$5' class='relatt_link' target='bib' href='https://bib.vincent-bonnefille.fr/author/stored/$5' popup='\[\[Aut $5\]\] : $6<br>Auteur ou autrice dans ma bibliothèque !'>AUT.$5</a>\]")
          }}
        {% else %}
          {# ?? ci ssresum #}
            {% set resum = (page.header.resume) ? ["<p class='header_content_resum'>",page.header.resume,"</p>"]|join|safe_truncate(250) %}
            {{resum}}
        {% endif %}
        {# ? ddda #}
      </content_article>
      
    </article>


  {# !!!!! ELSE !!!!!  #}
  {% else %} {# ! NOT widthpage=1 (large) + NOT head == no_cover #}
  {# !!!!! ELSE !!!!!  #}
  
  {# ?? ci ss3 #}
    <article class="{{article_class}} search_no_query {{origine}}" data-private='{{is_private}}' data-widthpage="{{widthpage}}">
    <header>
        {# !! ---- headers #}
        {% include 'partials/cover.html.twig' with {'origine':'coll_item', 'spec':'search'} %}
    </header>
      <content_article>

        {% include 'partials/meta_header.html.twig' with {'origine':'coll_item', 'spec':'large'} %}
        
        <span class="article_content insert">
        {# ? {% if contenu_complet|first == "contenu_complet" %} #}
          {{ pimp.content|raw
            |regex_replace("/<a class=\"internal_yet relatt_link\" href=\"bulle(.*?)\" id=\"intern_link_a((_(.*?))|)\" data-url=\"bulle_(.*?)\"\>(.*?)\<\\/a\>/", "\[<a id='Bulle_$5' class='relatt_link' target='bulles' href='https://liens.vincent-bonnefille.fr/?$5' popup='\[\[Bulle $5\]\]<br>Bulle/lien sur ma *webothèque* !'>$6</a>\]")
            |regex_replace("/<a class=\"internal_yet relatt_link\" href=\"bib(.*?)\" id=\"intern_link_a((_(.*?))|)\" data-url=\"bib_(.*?)\"\>(.*?)\<\\/a\>/", "\[<a id='Bib_$5' class='relatt_link' target='bib' href='https://bib.vincent-bonnefille.fr/book/$5' popup='\[\[Bib $5\]\] : $6<br>Livre dans ma bibliothèque !'>BIB.$5</a>\]")
            |regex_replace("/<a class=\"internal_yet relatt_link\" href=\"aut(.*?)\" id=\"intern_link_a((_(.*?))|)\" data-url=\"aut_(.*?)\"\>(.*?)\<\\/a\>/", "\[<a id='Aut_$5' class='relatt_link' target='bib' href='https://bib.vincent-bonnefille.fr/author/stored/$5' popup='\[\[Aut $5\]\] : $6<br>Auteur ou autrice dans ma bibliothèque !'>AUT.$5</a>\]")
          }}
        {# ? {% else %} #}
            {# ? {% set resum = (pimp.header.resume) ? ["<p class='not_header content_resum'>",pim.header.resume,"</p>"]|join|safe_truncate(250) : ["<div class='no_resume_content'>",pim.content|regex_replace(['/\\[\(.*\)/'], [''])|regex_replace(['/Edit./'],[''])|striptags|safe_truncate(250),"</div>"]|join %} #}
            {# ? {{resum}} #}
        {# ? {% endif %} #}
        </span>
      </content_article>
      {# ! if widthpage #}
      {# !! ---- related #}
      {# {% include 'partials/related.html.twig' with {'origine':'item'} %} #}
    </article>
  {% endif %}



{% else %} {# ! < PRIVATE > ==> yes #}



  {# ?? priv #}
  <article class="{{article_class}} search_no_query {{origine}}" data-private='{{is_private}}'  data-widthpage="{{widthpage}}">
    {# ?? priiii #}
    <header>
      {# !! ---- headers #}
      {# ? {{ widthpage }} #}
      {% if (widthpage != "2") and (widthpage != "3") %} {# ? 2 == no_cover... 3 == no_cover_liste #}
        {% include 'partials/cover.html.twig' with {'origine':'coll_item', 'spec':'private', 'opt':'private'} %}
      {% endif %}
    </header>

    {# ?? bbb #}
    
    {% if (contenu_complet|first == "contenu_complet") %}   {# ! contenu_complet #}
    {% include 'partials/meta_header.html.twig' with {'origine':'coll_item', 'spec':'private', 'extra':'no_meta'} %}

      <content_article class="item_full_ca">
        <span class="article_content item_full_ac">
          <p class="header_content_resum private">{{nothing_to_hide_txt}} 
          </p>
        </span>
      </content_article>

    {% else  %} {# ! NOT contenu_complet #}

      <content_article>
        {% include 'partials/meta_header.html.twig' with {'origine':'coll_item', 'spec':'private'} %}
        <span class="no_meta para notsearch"><span class="resume_content">
          <p class="header_content_resum private">{{nothing_to_hide_txt}} 
          </p>
        </span>
      </content_article>
  
    {% endif %}
  </article>

{% endif %}
