{% if config.plugins.breadcrumbs.enabled %}
    {% include 'partials/breadcrumbs.html.twig' with {'origine':'tags'}%}
    {%if tag or val%}
    <span id="tags_pls"><a href="/tags/l?{{tag}}">{{tag}}</a>:{{val}}</span>
    {%endif%}
  </div>

  {%else%}

  {%if page.url != "/" %}
    {% set parentpls = ["/", page.parent.slug]|join %}
    {%if parentpls != "/pages"%}
    <div id="goback_link">
      Retour <a href="{{parentpls}}">{{parentpls}}</a>
    </div>
    {%else%}
      <div id="goback_link">
        Retour <a href="/"> /</a>
    </div>
    {%endif%}
  {%endif%}

{% endif %}