{% switch origine %}
    {% case 'default' %}
       {% set pim = pim %}
    {% case 'collection' %}
       {% set pim = page %}
    {% case 'coll_item' %}
       {% set pim = pimp %}
    {% case 'taxtag' %}
       {% set pim = pimp %}
    {% default %}
       {% set pim = pim %}
{% endswitch %}

{# ?? {{spec}} #}
{# ?? {{uri_query_pop}} #}
{# ?? {{query_val_pop}} #}

{# ! ---- taxonomylist_wrapper #}
{% set children_only = "true" %}
{% set tags_in_list_page = page.header.tags_in_list_page|first %}
{% set widthpage = page.header.page_size|first %}

{# ? {{tags_in_list_page|dump}} #}
{# ? {{widthpage|dump}} #}

{# {% if (widthpage != "2") and (tags_in_list_page != "false" ) %}
   {% include 'partials/taxonomylist_wrapper_auto.html.twig' with {'collapse':'none', 'origine':'meta_headliste'}%}
{% endif %} #}


{% if pim.header.title_visible.enabled!=false %}

   {% set title_pls = ["<h1 class=\'post_title solo ", template, "' id=\'", pim.title|replace(' ', '_'), "\'>", pim.title|raw, "</h1>"]|join %}
   {# ? {% if string matches '{^[\d\.]+$}' %}Do Stuff{% endif %} #}

   {% if pim.title starts with '_' %}
      {# ! MODULAR TITLE + #### _MODULE  #}
      {% set modular_anchor = [pim.parent.url,'#',pim.parent.title|lower,pim.title]|join %}
      <a class="article_title" href="{{modular_anchor}}"> {# ? /abc/parent_modular/#parent_modular_pim #}
         {{title_pls}}
       </a>

   {% else  %}
      {% if (spec=="solo") or (spec=="head") %}
         <div id="solo_title" data-spec="{{spec}}" data-opt="{{opt}}">
            {{title_pls}}
         </div>
         
       {% elseif (spec=="private") %}
         <div class="private_title">
            <a class="article_title">
               <h1 class="post_title solo">{{pimp.title}} -- PRIVATE</h1>
            </a>
         </div>
         {% if (extra!="no_meta") %}
            <div class="private_frise">
               [-----------------------]
            </div>
         {% endif %}

       {%else%}
         {# ?? metah_else #}
         {% set modular_anchor = pim.url %}
         <a class="article_title" href="{{modular_anchor}}" data-opt="{{opt}}">
            {{title_pls}}
         </a>
       {%endif%}

   {% endif %}
   {# ! not tile #}
 
 {% else %}
     {# ?? aadde #}
     {% set title_pls = ["<h1 class=\'post_title solo ", template, "' id=\'", page.title|replace(' ', '_'), "\'>", page.title|raw, "</h1>"]|join %}
      <div id="solo_title" class="else" data-spec="{{spec}}" data-opt="{{opt}}">
        {{title_pls}}
      </div>
 {%endif%}




<article>

  {# ! CONTENT / EXTRAIT  #}
  {# ? REGEX REMOVE SHORTCUTS #}
  {# ? (['/\\[\(.*\)/'], ['']) #}
  {% if pim.template == "collection" or pim.template == "modular" or page.url == "/" or spec == "large"  %}
    {# !!! NOthing #}
    {# ?? aaa #}

  {% elseif spec == "search" %} {# ! search is== default #}
    {%if page.slug=="search" %} {# ! search search #}
       {# ?? bba #}
       {% set resum = (pim.header.resume) ? ["<p class='header_content_resum'>",pim.header.resume,"</p>"]|join|safe_truncate(250) : ["<span class='no_resume_content'>",pim.content|regex_replace(['/\\[\(.*\)/'], [''])|regex_replace(['/Edit./'],[''])|striptags|safe_truncate(250),"</span>"]|join|safe_truncate(250) %}
       <span class="no_meta para search"><span class="resume_content">{{resum}}</span></span>
    
    {% else %}  {# ! not search_slug_page #}
        {# ?? bbb #}
        {# ! contenu_complet #}
        {% set resum = (pim.header.resume) ? ["<p class='header_content_resum'>",pim.header.resume,"</p>"]|join : ["<span class='no_resume_content'>",pim.content|regex_replace(['/\\[\(.*\)/'], [''])|regex_replace(['/Edit./'],[''])|safe_truncate(250),"</span>"]|join %}
        {% if (contenu_complet|first == "contenu_complet" ) and (widthpage == "2")%}
            {# ?? bbb1 #}
            <content_article class="item_full_ca">
               <span class="article_content item_full_ac">{{pim.content}}</span>
            </content_article>
         {# ! contenu_resum #}
        {% else  %}
            {# ?? bbb2 #}
               {% set resum = (pim.header.resume) ? ["<p class='header_content_resum'>",pim.header.resume,"</p>"]|join|safe_truncate(250) : ["<span class='no_resume_content'>",pim.content|regex_replace(['/\\[\(.*\)/'], [''])|regex_replace(['/Edit./'],[''])|striptags|safe_truncate(250),"</span>"]|join %}
               <content_article class="item_resum">
                 <span class="no_meta para notsearch"><span class="resume_content">{{resum}}</span></span>
               </content_article>
        {% endif %}

    {% endif %}
    
  {% elseif page.template == "default" %} {# ! Default #}
    {# ?? cca1 #}
    {# {% set resum = (pim.header.resume) ? ["<p class='header_content_default'>",pim.header.resume,"</p>"]|join|safe_truncate(250) : "pas d'infos" %} #}
    
    {# <span class="no_meta no_para"><span class="resume_content">{{resum}}</span></span>   #}

  
  {% else %} {# ! Else #}
    {# ?? cca2 #}
    {% set resum = (pim.header.resume) ? pim.header.resume : pim.summary|striptags|regex_replace(['/\\[\(.*\)/'], [''])|regex_replace(['/Edit./'],['']) %}
    <span class="no_meta para else"><span class="resume_content">{{resum}}</span></span>
  {% endif %} 

</article>