{% for meta in page.metadata %}
  {%if meta.name not in ["root_path","home_title"] %}
  <meta 
    {% if meta.name %}name="{{ meta.name }}" {% endif %}
    {% if meta.http_equiv %}http-equiv="{{ meta.http_equiv }}" {% endif %}
    {% if meta.charset %}charset="{{ meta.charset }}" {% endif %}
    {% if meta.property %}property="{{ meta.property }}" {% endif %}
    {% if meta.content %}content="{{ meta.content }}" {% endif %} />
  {% endif %}
{% endfor %}

{% set resum = (page.header.resume) ? page.header.resume : page.content|regex_replace(['/\\[\(.*\)/'], [''])|regex_replace(['/"/'], [''])|regex_replace(['/\'/'], [''])|regex_replace(['/>/'], [''])|regex_replace(['/</'], [''])|regex_replace(['/Edit./'],[''])|safe_truncate(330) %}
{% set is_private = (page.header.private.enabled == "private") ? "private" : "public" %}
{% if (is_private != "private") %}
  <meta name="description"  content="{{resum}}" />
{%endif%}