{# {% set origine = origine %} #}
{% switch origine %}
    {% case 'default' %}
       {% set pim = page %}
    {% case 'collection' %}
       {% set pim = page %}
    {% case 'coll_item' %}
       {% set pim = pimp %}
    {% case 'taxtag' %}
       {% set pim = pimp %}
    {% default %}
       {% set pim = pim %}
{% endswitch %}

{% set pim = pim ? pim : page  %}
{# ?? {{origine}} #}
{# ?? {{uri_query_pop}} #}
{# ?? {{query_val_pop}} #}

<span class="meta_wrapper">
    {# !! --------- login edit button #}
    {% include 'admin/edit_button.html.twig' with {'origine':'meta_header', 'pim_url':(pimp.url)} %}

    {% set template = pim.template %}


    {# !! spec hide #}
    {% if (spec != "head") and (spec != "private") %}
      {# ! --------- meta_headerliste #}
      {% include 'partials/meta_headerliste.html.twig' with {'spec':spec} %}
    {% endif %}



</span>