
{# ! MDULAR SOMMARY ==> Special Collecion template (/f/(((xxx)))/yz) #}
{# ! ou #}
{# ! MODULAR SEARCH ==> Special Template #}
{# ?? ### FIRST == setings Tokens (very use by last part here == modules/modulars searched pages) #}
{# ?? ### SECOND = is_parent_modular_bool <-- from sub page has modular parent (sommaire des pages modular tel /f/ -- fiches) #}
{# ?? ########### ==> /f==is_parent_modular_bool/modulars/_modules #}
{# ?? ### THIRD == Search page with modulars template (fiches) #}

{# !!?! modular < have_params  < modular_searchpage_items #}
{# !??? ==> is_parent_modular_bool <=== MODULAR #}


{# ? ############################################ ####}
{# ! ## FIRST #### SETTINGS ############# ############}
{# ? ############################################# ###}     

{# TODO REDO CLeanUP #}
{% set tokens = explode('/', pimp.url) %}
{% set tok1 = tokens[sizeof(tokens)-1] %} {# denier -1 #}
{% set tok2 = tokens[sizeof(tokens)-2] %} {# denier -2 #}
{% set tok3 = tokens[sizeof(tokens)-3] %} {# denier -3 #}
{# TODO ALT #}
{# ? {% set geturl = pimp.url %} #}
{# ? {{geturl}} #}
{# ? {% set exppath = geturl|split('/') %} #}
{# ? {% set current_section = exppath.1 %} #}
{# ? {{current_section}} #}

{% set titre = (tok3) ? tok2 : tok1 %}
{% set extra_titre = (tok3) ? [tok1]|join|replace("_","#") : "" %}
{% set extra_titre_wrap = (extra_titre) ?  ["<span class='my_thash'>",extra_titre,"</span>"]|join : "" %}
{% set have_parent= (tok3) ? "oui" : "non" %}
{% set type = tokens[1] %}
{% set url_fix = (tok3) ? ["/",type,"/",tok2,"#",tok2,tok1]|join : ["/",type,"/",tok2]|join %}


{# ? ############################################ ####}
{# ! ## SECONDE ################# ############## #####}
{# ! ## MDULAR SOMMARY (collection /f/(((xxx)))/zzz) #}
{# ? ############################################# ###}     
{% if (cible == "is_parent_modular_bool") %}

{% if loop.first %}                   
<div id="is_parent_modular_wrapper">
{% endif %}


    <article class="box post post-excerpt module" data-slug="{{pimp.slug}}" data-is_parent_modular="yes">
      <content_article>
        <div class="am_mod" data-titre="{{pimp.title}}" data-type="{{type}}" data-url="{{pimp.url}}" data-haveparent="yes">
          <a class="admin_modify item mod" href="/admin/pages{{pimp.url}}">Edit.</a>
          <span class="mod_mod sommaire">
            <a href="{{pimp.url}}" id="{{pimp.slug|lower}}" class="sommaire_title">{{pimp.slug|lower}}</a>
          </span>
            {# ! content #}
            <div class="module_content"> 
            
            {# ? ############################################ ####}
            {# ! ## ############## TRI DES FICHES ############## #}
            {# ? ############################################# ###}     
            
            <ul id="modular_sommaire">
              {% for pim in pimp.children.order('slug','asc') if p != page %}

                {# --------- login edit button #}
                {% include 'admin/edit_button.html.twig' %}

              <li><a href="{{pimp.url}}#{{pimp.slug}}{{pim.slug}}">{{ pim.title|regex_replace('/^_/', '')}}</a></li>
              {% endfor %}
              </ul>
            </div>

          </div> {# !modular-row callout#}
        </content_article>
      </article>

      {% if loop.last %}                   
         </div>
      {% endif %}
  {# ! ## SECONDE #}
  {# ! IF QUERY ###}
  {# ! ## SEARH #}
  {% if query %}
    {# ? SI RECHERCHE query #}
      <p id="search_result_total">
          {% set count = search_results ? search_results.count : 0 %}
          {% if count is same as( 1 ) %}
              {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_SINGULAR"|t(query|e)|raw }}
          {% elseif (search_results.count=="0") %}      
            0 Résultat pour : {{query}}
            {# {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query|e, count)|raw }} #}
          {% else %}
              {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query|e, count)|raw }}
          {% endif %}
      </p>

      {# ! ## SECONDE #}
      {# ? O RESULTS ###}
      {%if (search_results.count=="0") and (page.slug!="search") %}
        <div id="fail_search_goglobal">
          <a href="/search/query:{{query}}">
            ⟶ Recherche globale
          </a>
        </div>
      {%endif%}

      {# ! ## SECONDE #}
      {# ? SEARCH RESULTS ###}
      <section id="search_results" class="simple_search_items">
        {% for page in search_results %}
          {# !! ---- simplesearch_item #}
          {% include 'partials/simplesearch_item.html.twig' with {'page': page} %}
        {% endfor %}
      </section>

  {# ! ## SECONDE #}
  {# ? QUERY ###}
  {# ? SI PARAMS (=?=) IF query (+) NOT Page pagination#}
  {% elseif uri.params and not uri.params|contains("page") %}
    {# !! ---- have_params #}
    {% include 'partials/have_params.html.twig' %}
  {%endif%}




{# ? ############################################ ####}
{# ! ## THIRD ################# ############## #######}
{# ! ## FILTER ::: Doit avoir le meme parent ... ### #}
{# ! ## THIRD ################# ############## #######}
{# ? ############################################# ###}     

{% elseif (page.slug == pimp.parent.slug) or (page.slug=="search") %} {# ! filter #}

  {# ? {{page.slug}} VS {{pimp.parent.slug}} #}
  {# ? ON FILTRE LES PAGES APPARTENANT à la meme collection abcd... #}

  <article class="box post post-excerpt module" data-slug="{{pimp.slug}}">
    <content_article>

          {# ! content #}
          <div class="module_content"> 
          {{ pimp.content }}
          </div>
        </div> {# !modular-row callout#}
      </content_article>

  </article>

  {# ! ----- include #}
  {% include 'partials/related.html.twig' with {'origine':'module', 'cible':'relat_mod'} %}


{% endif %}  {# !END if folder_search #}