{% set pimp = (pimp) ? pimp : page %}

{# TODO REDO CLeanUP #}
{% set tokens = explode('/', pimp.url) %}
{# ? {% set tok1 = tokens[sizeof(tokens)-1] %} #}
{# ? {% set tok2 = tokens[sizeof(tokens)-2] %} #}
{% set tok3 = tokens[sizeof(tokens)-3] %}
{# ?? {{tok3}} -- t3 #}
{# TODO ALT #}
{% set exppath = pimp.url|split('/') %}
{% set current_section = exppath.1 %}
{% set current_section_name = exppath.1 %}

{% set pim_exppath = pimp.url|split('/') %}

{% set pim_current_section = pim_exppath.1 %}
{% set type = pim_current_section %}
{% set titre = pim_current_section|replace("_","") %}
{# ?? {{current_section}} #}

{% set pim_current_page = pim_exppath.2 %}
{% set page_titre = pim_current_page|replace("_","#") %}
{# ?? {{pim_current_page}} #}


{% set fix_page_title_only = pimp.slug|regex_replace('/^_/', '') %}
{# ?? {{fix_page_title_only}} #}

{# ?? {% set page_parent_title_fix = pimp.parent.slug|regex_replace('/\\(/', '')|regex_replace('/\\)/', '') %} #}
{# ?? {{page_parent_title_fix}} #}

{% set hash = ["#",fix_page_title_only]|join %}
{# ?? <br>hash :{{hash}} #}
{% set full_id = [pim_current_page,"_",fix_page_title_only]|join %}
{# ?? <br>full_id :{{full_id}} #}
{% set full_hash_url = ["#",full_id]|join %}
{# ?? <br>full_hash_url :{{full_hash_url}} #}
{% set full_url = ["/",current_section,"/",pim_current_page,"#",full_id]|join %}
{# ?? <br>full_url :{{full_url}} #}
{% set section_url = ["/",current_section,"/",pim_current_page]|join %}
{# ?? <br>section_url :{{section_url}} #}

{% set title_linked_or_not = (pagepage.template=="modular") ? fix_page_title_only : ["\<a class='modular_title_link' href='",full_hash_url,"'\>",fix_page_title_only,"</a>"]|join %}
{# ?? --- {{full_hash_url}} #}

{% set have_parent = (tok3) ? "oui" : "non" %}

{# ! am_mod #}
<div class="am_mod {{origine}}" data-titre="{{titre}}" data-type="{{type}}" data-url="{{url}}" data-haveparent="{{have_parent}}">
  <a class="admin_modify item mod" href="/admin/pages{{pimp.url}}">Edit.</a>
  
  <span class="mod_mod mod_url only">
    {% if tok3 %}
      <span class='mod_url_top'>
        <a class="backlink_top" href="{{section_url}}">{{page_titre}}</a>
        <a class="backlink_top_hash" href="{{section_url}}{{full_hash_url}}"><span class='my_thash'>{{hash}}</span></a>
      </span>
    {% endif %}
  </span>
  
  {% if pimp.header.title_visible|first %}
    <h1 class='post_title modular' id='{{full_id}}'>
       {# ? ???? alt {{title_linked_or_not}} #}
       {# <a class='modular_title_link' href='{{full_hash_url}}'> #}
        {# {{fix_page_title_only}} #}
      {# </a> #}
      {{title_linked_or_not}}
    </h1>
    <span class='goto_title modular'>
        <a class='goto' href='{{full_hash_url}}'>#</a>
    </span>
  {% endif %}
  
  
  {# ! content #}
  {% if pagepage.slug == pimp.parent.slug %}
    {# ? ############################################ ####}
    {# ! ## ############## TRI DES FICHES ############## #}
    {# ? ############################################# ###}     
    {% if pimp.header.content.text %}
      <div class="module_content"> 
          {{ pimp.header.content.text }}
      </div>
    {% endif %}

  {% else %}

    {# ? ############################################ ####}
    {# ! ## ############## TRI DES FICHES ############## #}
    {# ? ############################################# ###}     
    <ul id="modular_sommaire">
      {% for pim in pimp.children.order('slug','asc') if p != page %}
         {# --------- login edit button #}
         {% include 'admin/edit_button.html.twig' %}
         <li><a href="{{pimp.url}}#{{pimp.slug}}{{pimp.slug}}">{{ pimp.title|regex_replace('/^_/', '')}}</a></li>
      {% endfor %}
    </ul>

  {% endif %}

  </div> {# !!!QF TODO -- if not break code -- dont display the end after.. #}


  {% if origine=="modular" %}
    {# ! ----- include #}
    {% include 'partials/related.html.twig' with {'origine':'module', 'cible':'relat_mod'} %}
  {% endif %}

</div> 
{# ! ENF am_mod #}
