<nav id="navbar-1" class="navbar item-nav navbar-right {{nav_position}}">
    <ul>
        {# {% for page in pages.children %}
            {% if page.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }}">
                    <a href="{{ page.url }}">
                        {{ page.menu }}
                    </a>
                </li>
            {% endif %}
        {% endfor %} #}
        {% for mitem in site.menu %}
            {# {% set current_page = (page.active or page.activeChild) ? 'active' : '' %} #}
            {# class="{{ current_page }}" #}
            <li data-class="{{ mitem.icon }} {{ class_nav }}" data-href="{{ mitem.link }}" data-target="{{ mitem.target }}">
                {% if ( mitem.target == "_hash" ) %}
                  {% if page.url != "/" and mitem.opt=="perm" %}
                    {%if mitem.alt %}
                       <a class="{{ mitem.icon }} {{ class_nav }}" href="{{ mitem.alt }}" target="_top">{{ mitem.text }}</a>
                    {%else%}
                       <a class="{{ mitem.icon }} {{ class_nav }}" href="/{{ mitem.link|replace({'#': ''}) }}" target="_top">{{ mitem.text }}</a>
                    {%endif%}
                  {% else %}
                    <a class="{{ mitem.icon }} {{ class_nav }}" href="/{{ mitem.link }}" target="_top">{{ mitem.text }}</a>
                  {% endif %}
                {% else %}
                   <a class="{{ mitem.icon }} {{ class_nav }}" href="{{ mitem.link }}" target="{{ mitem.target }}">{{ mitem.text }}</a>
                {% endif %}
            </li>
        {% endfor %}
        {# {% if config.plugins.feed.enabled %}
            <li>
                <a href="{{ feed_url }}.rss">Feed</a>
            </li>
        {% endif %} #}
    </ul>
    <ul class="social">
        {% for item in site.social %}
            <a class="{{ item.icon }} {{ class_nav }}" href="{{ item.link }}" target="{{ item.target }}">{{ item.text }}</a>
        {% endfor %}
    </ul>
</nav>          