{% if pagination and pagination|length%}
    {% if base_url == '' %}
        {% set base_url = '/' %}
    {% endif %}


                {% for paginate in pagination %}
                    {% if loop.first %}                   
                        <div class="units-row" id="is_pagination">
                            <div class="unit-100">
                                <ul class="pagination">
                                    {% if pagination.hasPrev %}
                                        {% set url =  (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
                                        <li class="prev"><a rel="prev" href="{{ url }}">&laquo;</a></li>
                                    {% else %}
                                        <li><span>&laquo;</span></li>
                                    {% endif %}
                    {% endif %}


  

                    {% if paginate.isCurrent %}
                        <li class="noclic"><span>{{ paginate.number }}</span></li>
                    {% elseif paginate.isInDelta %}
                        {% set url = (base_url ~ pagination.params ~ paginate.url)|replace({'//':'/'}) %}
                        <li class="clic"><a href="{{ url }}">{{ paginate.number }}</a></li>
                    {% elseif paginate.isDeltaBorder %}
                        <li class="gap"><span>&hellip;</span></li>
                    {% endif %}

                    {% if loop.last %}                   
                    {% if pagination.hasNext %}
                    {% set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
                    <li class="next"><a rel="next" href="{{ url }}">&raquo;</a></li>
                    {% else %}
                    <li><span>&raquo;</span></li>
                    {% endif %}
                    </ul>
                    </div>
                    </div>
                    {% endif %}
                    

                {% endfor %}

{% endif %}

