{# Sépare l'url en parties (sans "/") #}
{% set tokens = explode('/', relatt) %}

{% for t in explode('/', relatt) %}          
  {% if loop.last %}           
    {% set loppindex = loop.index %}
    {% for i in 0..loppindex %}
      {% if loop.last %} 
        {# ? SI my_thash (==is module) exists on l'ajoute à la fin => autre couleur #}
        {% set my_thash = my_thash ? ['<span class="my_thash">', my_thash, '</span>']|join : "" %}

        {% set uri_route = [uri.route,"/"]|join %}
        {% if my_main_url != uri_route %}
          {# ! LIST_GEN CONTENT #}
          <li class="li_relatt backlink_module">
            <a class="relatt_link" id="{{my_t|replace('/','_')}}" data-url="{{my_t}}" href="{{my_t}}{{my_thash_url}}">{{my_main_url}}{{my_thash}}</a>
          </li>
        {% endif %}

      {% else %} {#  !fnot_last => increment #}
      {# ! IMPLEMENT CONTENT #}
        {# ? GET token i : tokens[sizeof(tokens)]==nombre de tokens #}
        {% set t = tokens[i] %}
        {# ? Cleanup : if module (_blabla) -> replace "_" par "#" ... sinon, normal, ajouter "/" #}
        {% set t = (t|starts_with('_') == true) ? t|regex_replace('/^_/', '#') : [t,"/"]|join %}
        {# ? on increment my_t ... SOURCE https://stackoverflow.com/a/24943566 #}
        {% set my_t = my_t ~ t %}
        
        {# ! SI HASH ... on crée une var "my_thash" #}
        {% if t|contains("#") %}
          {# ? On retir "/#" => "#" #}
          {% set my_t = my_t|regex_replace('/\\/#/', '#') %}
          {# ! HASH == t #}
          {% set my_thash = t %}
        
        {# ! NO HASH #}
        {% else %} 
          {# ? get root pages folders : abscdef #}
          {% set roots = page.collection({ items: {'@root.all':''}, 'order': {'by': 'folder', 'dir': 'asc'}}) %}
          {% set roots_all = [] %}
            
          {% for root_fld in roots %} 
            {% set root_slug = root_fld.slug %}
            {# ? {{root_slug}} #}
            {% if root_slug not in ['home','search','tags'] %}
              {% set roots_all = roots_all|merge([root_slug]) %}
            {% endif %}
          {% endfor %}
          {# ?  {% for r in roots_all %}  {{r}} {% endfor %} #}
        
          {% set ps = (page.slug|contains("^_")) ? page.slug|regex_replace('/_/', '_') : page.slug %}
          {% set my_thash_url = (page.parent.slug not in roots_all) ? ['#', page.parent.slug, ps]|join : ['#', ps]|join%}
          {% set my_main_url = my_main_url ~ t %}
        {# ! ?NO HASH #}
        {% endif %}

      {% endif %} {# ! last #}

    {% endfor %} {# ! loppindex : for each #}

  {% endif %} {# ! last #}

{% endfor %} {# !tokens / t #}
