
{% if (page.parent.title != "Pages") and ( (page.header.related_pages|first) or (page.header.relat_mod|first) or (page.header.relat_backlink|first) ) %}
  {# ? a #}
  
    {% for relatt in page.header.related_pages %}
      {% set title = "Pages liées" %}
      <div class="related_module" data-origine="{{origine}}">
        <div id="relatt_wrapper" data-origine="{{origine}}">
          <h4 class="relatt_title">< {{title}} ></h4>
          <ul id="relatt_ul_wrapper" data-origine="{{origine}}">
            {# ? b #}
            {% include 'partials/related_items.html.twig' with {'origine':'related_pages', 'title':(title)} %}
          </ul>
        </div> {# !related_module #}
      </div> {# !relatt_wrapper #}
    {% endfor %} {# relatt #}

    {% for relatt in page.header.relat_mod %}
      {% set title = "Insert présent dans" %}
      <div class="related_module" data-origine="{{origine}}">
        <div id="relatt_wrapper" data-origine="{{origine}}">
          <h4 class="relatt_title">< {{title}} ></h4>
          <ul id="relatt_ul_wrapper" data-origine="{{origine}}">
            {# ? c #}
            {% include 'partials/related_items.html.twig' with {'origine':'relat_mod', 'title':(title)} %}
          </ul>
        </div> {# !related_module #}
      </div> {# !relatt_wrapper #}
    {% endfor %} {# relatt #}

    {% for relatt in page.header.relat_backlink %}
      {% set title = "Lien vers ici dans" %}
      <div class="related_module" data-origine="{{origine}}">
        <div id="relatt_wrapper" data-origine="{{origine}}">
          <h4 class="relatt_title">< {{title}} ></h4>
          <ul id="relatt_ul_wrapper" data-origine="{{origine}}">
            {# ? d #}
            {% include 'partials/related_items.html.twig' with {'origine':'relat_backlink', 'title':(title)} %}
          </ul>
        </div> {# !related_module #}
      </div> {# !relatt_wrapper #}
    {% endfor %} {# relatt #}
{% endif %}
