
<div class="content-padding simplesearch">
  <h1 class="search-header">{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS"|t }}</h1>
  <div class="center">
      {# !! ----- simplesearch_searchbox #}
      {% include 'partials/simplesearch_searchbox.html.twig' %}
  </div>

{# ? ####################### #}
{# ! ######## SS ## ! QUERY ##}
{# ? ####################### #}      
  {% if query %}
  {# ? SI RECHERCHE query #}
      <p id="search_result_total">
          {% set count = search_results ? search_results.count : 0 %}
            
            {% if count is same as( 1 ) %}
                {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_SINGULAR"|t(query|e)|raw }}
            {% elseif (search_results.count=="0") %}      
              0 Résultat pour : {{query}}
              {# {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query|e, count)|raw }} #}
            {% else %}
                {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query|e, count)|raw }}
            {% endif %}
      </p>

      {%if (search_results.count=="0") and (page.slug!="search") %}
        <div id="fail_search_goglobal">
          <a href="/search/query:{{query}}">
            ⟶ Recherche globale
          </a>
        </div>
      {%endif%}
        
      <section id="search_results" class="simple_search_items">
      {% for page in search_results %}
        {# !! ---- simplesearch_item #}
        {% include 'partials/simplesearch_item.html.twig' with {'page': page} %}
      {% endfor %}
      </section>