{% set min_chars = config.get('plugins.simplesearch.min_query_length', 3) %}
{# ? breadcrumbs simple #}
{# ! --- GO BACK breadcrumbs #}
{% include 'partials/goback.html.twig' with {'origine':origine} %}

{% if page.header.search_top_text|first != "0" %}
    {# ? ######################## #}
    {# ! ########### ARTICLE HEAD #}
    {% include 'partials/default_article.html.twig' with {'origine':'collection', 'spec':'head'} %}
    {# ! ########### ARTICLE HEAD #}
    {# ? ####################### #}
{% endif %}

{% if page.header.search_input|first != "0" %}
    {% set search_requete = config.plugins.simplesearch.route == '@self' ? '' : (config.plugins.simplesearch.route == '/' ? '' : config.plugins.simplesearch.route) %}
    {% set search_title = (page.slug == "search") ? "Recherche globale": ["Recherche", " dans ", page.title]|join %}
    {% set search_title = (page.slug == "home") ? "Recherche globale" : search_title %}

    <div class="search-wrapper">
        <form name="search" data-simplesearch-form>
            <input
                name="searchfield"
                class="search-input"
                aria-label="search"
                type="text"
                {% if min_chars > 0 %} data-min="{{- min_chars -}}" {% endif %}
                required
                placeholder="{{search_title}}"
                onfocus=this.value=""
                value="{{ query|e }}"
                data-search-invalid="{{ "PLUGIN_SIMPLESEARCH.SEARCH_FIELD_MINIMUM_CHARACTERS"|t(min_chars)|raw }}"
                data-search-separator="{{ config.system.param_sep }}"
                data-search-input="{{ base_url }}{{ config.plugins.simplesearch.route == '@self' ? '' : (config.plugins.simplesearch.route == '/' ? '' : config.plugins.simplesearch.route) }}/query"
                autofocus
            />
            {% if config.plugins.simplesearch.display_button %}
                <button type="submit" class="search-submit">
                    <img src="{{ url('plugin://simplesearch/assets/search.svg') }}" />
                </button>
            {% endif %}
            
        </form>

    </div>
{% endif %}
  
{# {% if page.slug != "search" and page.header.search_input|first != "0" %} #}
    {# ! ---- taxonomylist_wrapper #}
       {% include 'partials/taxonomylist_wrapper_auto.html.twig' with {'children_only':'false'} %}
    {# cloud_tags #}
{# {% endif %} #}
