

<div class="content not_search_results {{origine}}">


  {% set orderby_pls= (page.header.content.order.by) ? page.header.content.order.by : "header.date_pub"  %}
  {% set orderdir_pls= (page.header.content.order.dir) ? page.header.content.order.dir : "dsc"  %}
  {% set pagination_pls= (page.header.content.pagination) ? page.header.content.pagination : "non"  %}
  {% set limit_pagination_pls= (page.header.content.pagination) ? page.header.content.limit : "21"  %}
    ? {{orderdir_pls}}
    ? {{orderby_pls}}
    ? {{pagination_pls}}
    ? {{limit_pagination_pls}}
    ? {{uri.params}}
    ? {{pimp.url}}
    {% set is_parent_modular = page.header.modular_parent %}  
    
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ? ############## ############# #}
{# ! ####### FOR --#### PIMP ######}
{# ? ############ ############# ###}
    {# ! ### FOR ### ! #}
    {# ! Render the list of blog posts (automatically filtered when using pagination) #}
    {# {% set collection = page.collection() %} #}
    {% for pimp in collection.published.order(orderby_pls,orderdir_pls) %}

    {# ? ############## ############# #}
    {# ! ####### MODULAR --#### #######}
    {# ? ############ ############# ###}
    {% if is_parent_modular != "" %}
      {# !! ---- modular_searchpage_items #}
      {% include 'partials/modular_searchpage_items.html.twig' with {'origine':'collection', 'cible':'is_parent_modular_bool'} %}
    
    {# ! ############################################################################ ! #}
    {# ! ############################################################################ ! #}
    {# ! ############################################################################ ! #}
    {# ! ############################################################################ ! #}
    {# ! ############################################################################ ! #}
    {# ! ############################################################################ ! #}
    {% else %}
      {# ? ############## ############# #}
      {# ! ####### ELSE NOT MODULAR #####}
      {# ? ############ ############# ###}
              ddddddsds
              <article class="{{article_class}} search_no_query {{origine}}">
                {# ? ci ss #}
                <header>
                  {# !! ---- headers #}
                  {% include 'partials/cover.html.twig' with {'origine':'default', 'spec':'search'} %}
                  {% include 'partials/meta_header.html.twig' with {'origine':'default', 'spec':'search'} %}
                </header>
                {% if widthpage == "page_pleine" %}
                  <content_article>
                    {{ page.content|raw }}
                  </content_article>
                {% endif %} 
                {# ! if widthpage #}
                {# !! ---- related #}
                {% include 'partials/related.html.twig' with {'origine':'item'} %}
              </article>

    {% endif %}
    {# ! ####### END IF MODULAR #####}


    {% endfor %}
    {# ! ####### END FOR ## PIMP #####}
{# ? ############ ############### #}
{# ! ####### END FOR  PIMP ########}
{# ? ############ ############# ###}      



{# ! ####### PAGINATION ##### ! #}
{% if config.plugins.pagination.enabled and collection.params.pagination %}
    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
{% endif %}
{# ! ####### PAGINATION ##### ! #}

{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}

</div> {# ! .simplesearch #}
