
{# !! taxonomylist.html.twig #}
{# ? taxonomylist.get ==> ALL no only in childs (EX/ search page) #}
{% set taxlist = (children_only == "get_childs") ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}

{% if taxlist %}
    {% if loop.first %}                   
        <div id="cloud_tags">
            <table>
                <thead>
                    <tr>
                    <th></th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
    {% endif %}

    {# ? taxxxx #}
    {% set key_fix = (key=="ou") ? "où" : key %}
    <tr>
        <td id="search-{{key}}" class="first_td">
            {{key_fix}}
        </td>
        <td>
            <span class="tags">
                {% for tax,value in taxlist[taxonomy] %}
                    {% set active = uri.param(taxonomy) == tax? 'active' : 'not_active' %}
                    ddk
                    <a class="{{ active }} tag_metas" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ tax }}">{{ tax }}</a>
                {% endfor %}
            </span>
        </td>
    </tr>

    {% if loop.last %}    
           </tbody>    
        </table>

        {% if page.slug in not ['tags','tag'] %} {# ! NOT tag page #}
            <tfoot>
                <div id="extra_tags_links">
                Tous les tags :<br>
                <a href="/tags">Tags</a> - <a href="/tags/l">Tag_liste</a>
                <div>
            </tfoot>
        {%endif%} {# ! IS NOT tag page #}    
        
        {% if page.slug == "search" %}
            <a id="a_tag_liste" href="/tags/l">Tag list</a>
        {%endif%}


        </div> {#! cloud_tags#}
    {% endif %} 



{% else %}
    {# ? notaxxxx #}
    {% if loop.last %}
        <div id="extra_tags_links_nope">
        Pas de tags...<br>
        {# dans cette section/partie<br> #}
        Tous les tags :<br>
        <a href="/tags">Tags</a> - <a href="/tags/l">Tag_liste</a>
        <div>
    {% endif %}
{% endif %}
