{# !!! UTLISÉ PAR #}
{# !!! < taxonomylist_wrapper_auto <  #}

{# !! taxonomylist.html.twig #}
{# ? taxonomylist.get ==> ALL no only in childs (EX/ search page) #}
{% set taxlist = (children_only == "get_childs") ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}
{# {{children_only}} #}
{# {{page_slug_dest}} #}
{# {{parent_modular}} #}
{% set geturl = page.url %}
{% set exppath = geturl|split('/') %} 
{% set current_section = exppath.1 %}


{% if taxlist %}
    {% if loop.first %}                   
    <div id="cloud_tags">
            <table>
                <thead>
                    <tr>
                    <th></th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
    {% endif %}

        {# ? taxxxx #}
        {% set key_fix = (key=="ou") ? "où" : key %}

        {# ? ####################### #}
        {# ! ######## ! F-O-R ##### ##}
        {# ? ####################### #}     

        {% for tax,value in taxlist[taxonomy] %}
            {% if loop.first %}                   
                <tr>
                    <td id="search-{{key}}" class="first_td">
                        {{key_fix}}
                    </td>
                    <td>
                        <span class="tags">
                {% endif %}
                
                    {% set active = uri.param(taxonomy) == tax? 'active' : 'not_active' %}
                    {# ? SEARCH /c/taglist #}
                    {% set baseurl = ( page.slug=="search" ) ? [site.url,"/search"]|join : page.url %}
                    {% set baseurl = ( page.template=="search" ) ? [site.url,"/search"]|join : ["/", current_section]|join %}
                    {# ? MODULAR /f/xxx/taglist #}
                    {% set baseurl = ( parent_modular=="modular_head" ) ? page_slug_dest : baseurl %}
                    
                    <a class="{{ active }} tag_metas" href="{{baseurl}}/{{ taxonomy }}{{ config.system.param_sep }}{{ tax }}">{{ tax }}</a>

                {% if loop.last %}    
                        </span>
                    </td>
                </tr>
                {% endif %}
        {% endfor %}

        {# ? ####################### #}
        {# ! ######## ! END ###### ###}
        {# ? ####################### #}     

        {% if loop.last %}    
            </tbody>    
            </table>
                {% if page.slug in not ['tags','tag'] %} {# ! NOT tag page #}
                    <tfoot>
                        <div id="extra_tags_links">
                        Tous les tags :<br>
                        <a href="/tags">Tags</a> - <a href="/tags/l">Tag_liste</a>
                        <div>
                    </tfoot>
                {%endif%} {# ! IS NOT tag page #}    
            
                {% if page.slug == "search" %}
                    <a id="a_tag_liste" href="/tags/l">Tag list</a>
                {%endif%}

    </div> {#! cloud_tags#}
{% endif %} 


{# ? ####################### #}
{# ! ######## ! RIEN ###### ##}
{# ? ####################### #}     
{% else %}
    {# ? notaxxxx #}
    {% if loop.last %}
        <div id="extra_tags_links_nope">
        Pas de tags...<br>
        {# dans cette section/partie<br> #}
        Tous les tags :<br>
        <a href="/tags">Tags</a> - <a href="/tags/l">Tag_liste</a>
        <div>
    {% endif %}
{% endif %}
