{# ? SERT POUR LES TAGS Dans les articles/posts/items  (MetaHead) #}
{# ? GET /abc/ ( 1 == 1er dans /a/other/foo/bar/ ) == a #}
{# !!! current_section #}
{% set geturl=(pim.url) ? pim.url : page.url %}
{% set exppath = geturl|split('/') %}
{% set current_section = exppath.1 %}

{# ? + #}
{# !!! current_page #}
{# ? == bar #}
{% set current_page = page.url|regex_replace('/^\\//', '') %}

{# ? pim sous entendu sous-element/item => get pim.tax... else get page tax #}
{% set taxlist= (pim.url) ? pim.header.taxonomy : page.header.taxonomy %}

{# ? {{current_page}}<br> #}
{# ? {{current_section}} #}

<table class="meta_headerliste sortable">
  <thead>
      <tr><th>
      </th><th>
      </th></tr>
  </thead>
 <tbody>
  <tr data-tax="{{tax}}" aria-sort="{{tax}}">

    <td valign="bottom">
      {% set active = (current_page == current_section) ? "active_section section" : "not_active_section section" %}
      <a class="tag_metas section {{active}}" href="/{{current_section}}">{{current_section}}</a>
    </td>

    
{# ? ####################### #}
{# ! ######### ! GO taxlist ##}
{# ? ####################### #}     
{% if taxlist %}

  {% for tax,value in taxlist %} {# ? NOTE |sort ==> /admin/config/system #}
     {% if value is not empty %} {# ? avant de lister les key .. On s'assure qu'il ya une val ... key > value #}
          
          <td valign="bottom">
              {# {{ tax|capitalize }} #}
          </td>

              {% for v in value %}
                {# ? GET (1):(((2))) #}
                {% set uri_params_nospaces=uri.params|regex_replace('/%20/', '_') %}
                {% set exppath_param = uri_params_nospaces|split(':') %}
                {% set exppath_param_first = exppath_param.1 %}
                {% set exppath_param_first = exppath_param_first %}
                {# ? {{exppath_param_first}} #}
                  
                {# ? SET active #}
                {% set vclean = v|replace('-', ' ')|regex_replace('/%20/', '_')|replace('_', ' ') %}
                {% set vfix = v|replace('-', ' ')|regex_replace('/ /', '_') %}
                {# ? {{vfix}} #}
                {% set active = (exppath_param_first==vfix) ? "active" : "not_active" %}
                
                  {% set current_section = (pagepage=="search") ? "search" : current_section %}
                  <td valign="bottom" data-v="{{vfix}}" data-vclean="{{vclean}}" data-exppath_param_first={{exppath_param_first}}>
                    {% if active %}
                      <a class="tag_metas {{active}}" href="/{{current_section}}/{{tax}}:{{v}}">{{ vclean }}</a>
                    {% endif %}
                  </td>
              {% endfor %}
          
      {% endif %}
  {% endfor %}

{% else %}
      <td valign="bottom">
        <a class="tag_metas empty">no tags</a>
      </td>
{% endif %}

</tr>
</tbody>
</table>