{# ! taxonomylist plugin setup #}
{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}

{% set exppath = page.url|split('/') %}
{% set current_section = exppath.1 %}
{# {{current_section}} #}

{# ! COLLAPSE (or not) #}
{% set handle = (collapse=='title') ? 'handle_off' : 'handle' %}

{# ! Tilte (or not) #}
{% if page.slug not in ['search','tags','tag','home'] %}
    {# ? {% set tag_title = (page.slug=='search') ? '' : ['dans ', page.title]|join %} #}
    {% set tag_title = ['dans ', page.title]|join %}
{%else%}
   {% set tag_title = "" %}
{%endif%}


{# TODO NB: 1. NOT meta_headliste 2. meta_headliste #}
{% if (origine != 'meta_headliste') %}
<section class="accordion">
    {%if  (origine != 'meta_headliste') %}
    <input type="checkbox" name="collapse" id="handle1">
    {%endif%}

    {# ! NOT HOME #}
    {% if page.slug not in ['home'] %} 
        {% if page.slug != "home" %}
            {% if page.slug in ['tags','tag'] %} {# ! tag page #}
                <h2 class="handle {{handle}}">
                    <label for="handle1" class="fa fa-chevron-down" aria-hidden="true">
                        <a id="a_tag_liste" href="/tags/l">Tag list</a>
                    </label>
                </h2>
            {%else%} {# ! NOT tag page #}
                <h2 class="handle {{handle}}">
                    <label for="handle1" class="fa fa-chevron-down" aria-hidden="true">
                        Tags <i class="fa fa-tag" aria-hidden="true"></i>{{tag_title}}
                    </label>
                </h2>
            {%endif%} {# ! IS tag page #}
        {% endif %} {# ! page.slug != "search" #}

    {# ? search page kkkkk #}
        <div class="content {{handle}}">
            {# ? ### SOURCE ### https://gist.github.com/tboulogne/25cbb91c2f15a75baefd961934326520 #}
            {% set page_slug = ["/", current_section]|join %}
            {% set page_slug_dest = (page.slug in ['search','tags','tag']) ? "/" : page_slug %}
            {% set page_slug_dest = (origine=="modular_head") ? page.url : page_slug_dest %}
            {# ? IF SEARCH / TAGS #}
            {% set tag_childs = (page.slug in ['search','tags','tag']) ? "tag_page" : "get_childs" %}
            {# ? {{tag_childs}}/ #}
            {# ? {{ page_slug_dest|dump }} ? {{ tag_childs|dump }} #}
            {# ? {{origine}} #}
            {% for key in taxonomy.taxonomy|keys %}
                {# ! ---- taxonomylist #}
                {# {{key}} #}
                {% include 'partials/taxonomylist.html.twig' with {base_url: (page_slug_dest), taxonomy: (key), children_only: tag_childs, 'parent_modular':origine} %}
            {% endfor%}
        </div>
    {% endif %}
</section>




{# ! IS meta_headliste == liste dans les articles/items (liste) #}
{%else%}

    {% include 'partials/taxonomy_items.html.twig' with {base_url: (page_slug_dest), taxonomy: (key), children_only: tag_childs} %}

{% endif %} {# if page.slug not in ['home'] #}
