{# !!! DEMO MOD == home cats/icons#}
{% set demo="yes" %}
{# ! bypass admin changes ! force folder order, etc #}
{% set roots_all = page.collection( { items: {'@root.all':''}, 'order': {'by': 'folder', 'dir': 'asc'}} ) %}

  {% for pimp in roots_all %} {#! LOOP 1 #}

      {# ? add grid-area a-->z #}
      {% set range_letter = range('a','z')[loop.index0] %}

      {% if range_letter=="a" %}
        {# ! GRID #}
        {% set grid_lines = ["'",page.header.ligne_1,"' '",page.header.ligne_2,"' '",page.header.ligne_3,"' '",page.header.ligne_4,"' '",page.header.ligne_5,"' '",page.header.ligne_6,"'"]|join %}
        {% set grid_preset = page.header.grid_preset %}
        {% set grid_preset_text = page.header.grid_preset_text %}
        {% set grid_area = (page.header.grid_preset!=false) ? grid_preset_text : grid_lines %}

        <div id="container_grid" style="grid-template-areas: {{grid_area}}">  
      {% endif %}

      {# ! #### home_items #### #}
      {% include 'specials/home_items.html.twig' with {'origine':'collection','tag':(uri_query),val:(query_val)} %}
      {# ! #### home_items #### #}

      {% if loop.last and (grid_preset==true) %}
        {% set reste = 26 - (loop.length) %}    
        {% set alphabet = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'] %}
        {% set lastletter = alphabet[reste] %}
        {% for range_letter in range(lastletter,'z') %}
          {% include 'specials/home_items.html.twig' with {'origine':'collection','tag':(uri_query),val:(query_val),'lastslug':range_letter} %}
        {% endfor %}
      {% endif %}


  {% endfor %} {#!LOOP 1#}

</div>  {#! container_grid  #}
