
      <div class="home_items{% if lastslug %} empty{% endif %}" data-letter="{{ range_letter }}" data-type="item" style="grid-area: {{ range_letter }};">
        {% set pimp_slug = (lastslug) ? lastslug : pimp.slug %}
        {% set pimp_title = (lastslug) ? "." : pimp.title %}
        {% if (pimp_slug != "home") or (config.plugins.login.enabled and grav.user.username) %} {# ! if slug==home hide for not admins #}
        
          <a href="{{pimp.url}}"> {# ! A1 #}
            
          {% if (demo!="yes") or (pimp.header.logo) %} {# ! have LOGO #}
            {% if pimp.header.logo_select %} {# ! LOGO select #}
              {% set logo_path=[pimp.path,"/logo/",pimp.header.logo_select]|join %}
              {%set cover = logo_path|regex_replace("[\/var\/www\/cms\/grav_ours\/]", "") %}
              <img class="cover_icon" src="{{cover}}"> {% if config.plugins.login.enabled and grav.user.username %}<div class="range_letter">{{range_letter}}<span class="indexnum"> : {{loop.index0}}</span></div>{% endif %}
              {#? {{path}} #}
            {% else %}  
              {{pimp.header.logo}}
            {% endif %}
            
          {% else %} {# ! DEMO YES #}
          
            {% set img_demo=['theme://images/homepage/',range_letter,'.png']|join %}
            {% set cover=url(img_demo) %}
            <img class="cover_icon" src="{{cover}}"> {% if config.plugins.login.enabled and grav.user.username %}<div class="range_letter">{{range_letter}}<span class="indexnum"> : {{loop.index0}}</span></div>{% endif %}
          
          {% endif %}  {# ! DEMO #}
          
            {# ! RESUM / Content (popups) #}
            {% set resum_or_content = (pimp.header.resume) ? pimp.header.resume|truncate(80) : pimp.content|truncate(80) %}
            <a href="{{pimp.url}}" data-url="{{pimp.url}}" class="relatt_link{% if lastslug %} empty{% endif %}" id="home_{{pimp_slug}}" data-popup_type='home' popup="{{resum_or_content}}" popup_md="non">{% if config.plugins.login.enabled and grav.user.username %}{{ pimp_title }}{% elseif lastslug %}{% else %}{{ pimp_title }}{% endif %}
            {# ! A2 #}
            {# ? {%if pimp.children.count > "1"%}<span class="count">({{pimp.children.count}})</span>{% endif %} #}
            </a>
            {% if lastslug is not defined %}
              {# ! Edit #}
              {% include 'admin/edit_button.html.twig' with {'origine':'homepage_item'} %}
            {% endif %}
          </a>
        {% endif %} {# ! if slug==home hide for not admins #}
      </div>  