{# ?? page / page #}
{% set pim = (origine=="meta_header") ? page : page %}
{# ? home #}
{% set pim = (page.url == "/") ? pimp : pim %}  
{# ? {{pim.slug}} #}

{# ? {{pim_url}} #}
{% if config.plugins.login.enabled and grav.user.username %}
      {% set admin_class = (pim.template=="collection") ? "admin_modify" : "admin_modify item" %}
      {% set modify_url_adminpages = ["/admin/pages/", pim.slug]|join %}
      <a class="{{admin_class}}" href='{{modify_url_adminpages}}'>Edit</a>
{% endif %}
