{% if object.routable and object.published %}

{# VBULLE #}
{% set topage=route.toString(true)|regex_replace('/admin\\/pages\\//','') %}
<a id="titlebar-button-preview" href="{{ topage }}" class="button" title="{{ "PLUGIN_ADMIN.PREVIEW"|tu }}">
    <i class="fa fa-eye"></i>
</a>
<a id="titlebar-button-preview" href="{{ topage }}" class="button success" title="{{ "PLUGIN_ADMIN.PREVIEW"|tu }}" target='_blank'>
    <i class="fa fa-eye"></i>
</a>
{% endif %}
