{% extends 'partials/base.html.twig' %}

{% block content %}
  {# ! ---- breadcrumbs simple #}
  {% include 'partials/goback.html.twig' with {'origine':origine} %}

  {# ! Render the list of blog posts (automatically filtered when using pagination) #}
  {% set collection = page.collection() %}
  
  {% set orderby_pls= (page.header.content.order.by) ? page.header.content.order.by : "header.date_pub"  %}
  {% set orderdir_pls= (page.header.content.order.dir) ? page.header.content.order.dir : "dsc"  %}
  {% set pagination_pls= (page.header.content.pagination) ? page.header.content.pagination : "non"  %}
  {% set limit_pagination_pls= (page.header.content.pagination) ? page.header.content.limit : "21"  %}
  {# ? {{orderdir_pls}} #}
  {# ? {{orderby_pls}} #}
  {# ? {{pagination_pls}} #}
  {# ? {{limit_pagination_pls}} #}
  {# ? {{uri.params}} #}
  {% set collection = page.find( page.url ).children %}
  {% set widthpage = page.header.page_size|first %}
  {% set contenu_complet = page.header.contenu_complet %}
  {% set article_class = (widthpage == "page_pleine") ? "post collection_item page_pleine" : "post collection_item not_page_pleine" %}
  

  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}

  {# ? ######################## #}
  {# ! ########### ARTICLE HEAD #}
  
  {% set title_pls = ["<h1 class=\'post_title solo ", template, "' id=\'", page.title|replace(' ', '_'), "\'>", page.title|raw, "</h1>"]|join %}
  <div id="solo_title" class="else" data-spec="{{spec}}" data-opt="{{opt}}">
    {{title_pls}}
  </div>
  {% include 'partials/default_article.html.twig' with {'origine':'collection', 'spec':'head'} %}
  {# ! ########### ARTICLE HEAD #}
  {# ? ####################### #}

  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}

  {# ? ################## #}
  {# ! ########### ENTETE #}
  {# ? ################## #}

  <div class="content-padding collection">
      
    {%set is_parent_modular_bool = (is_parent_modular) ? "is_parent_modular_bool" : "" %}
    <section id="search_results" class="have_no_params collection {{origine}}" data-parent="{{is_parent_modular_bool}}">    

    {# {% if page.header.get_tags == "1" %}
        {% include 'partials/taxonomylist_wrapper_auto.html.twig' with {'children_only':'yop','origine':'collection'} %}
      {% else %}
    {% endif %}

    {% set widthpage = page.header.page_size|first %}
    {# {% if (page.header.search_checkboxfilter != 0) and (widthpage != 2) %} #}
        {# <label data-text_before="infos"></label><input type="checkbox" name="collapse" id="handle2" checked="checked"> #}
        {# <label data-text_before="grille"></label><input type="checkbox" name="collapse" id="handle3" checked="checked"> #}
    {# {% endif %} #}
    {# ? ############## ############# #}
    {# ! ####### END --#### ENTETE ####}
    {# ? ############ ############# ###}
      
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ?? ssssdd #}
  {% include 'partials/collection_items.html.twig' with {'origine':'collection'} %}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}


  {# ! ####### PAGINATION ##### ! #}
  {# !!!!!! --- DONT WORKS ON SIMPLE SEARCH PAGES ! #}
  {% if config.plugins.pagination.enabled and collection.params.pagination %}
      {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
  {% endif %}
  {# ! ####### PAGINATION ##### ! #}


</div>  {# ? content-padding collection #}

{% endblock %}

