{% extends 'partials/base.html.twig' %}

{% block content %}

  {%if page.url != "/" %}
     {% include 'partials/goback.html.twig' with {'origine':'collection'} %}
  {%endif%}

  {% set widthpage = page.header.page_size|first %}
  {% set article_class = (widthpage == "page_pleine") ? "post default_solo page_pleine" : "post default_solo not_page_pleine" %}
    <article class="{{article_class}}">
    <header>
      {% set is_private = (page.header.private.enabled == "private") ? "private" : "public" %}
      {% if (is_private != "private") or (config.plugins.login.enabled and grav.user.username) %}
        
        {# {% include 'partials/cover.html.twig' with {'origine':'default'} %} #}

        {% include 'partials/meta_header.html.twig' with {'origine':'default', 'spec':'solo'} %}
      {% else %}
        
        {# {% include 'partials/cover.html.twig' with {'origine':'default'} %} #}

        <div id="private_frise_page_solo" class="private_frise">[-----------------]</div>
      {% endif %}
    </header>
    <content_article>
    <span class="article_content">
      {% set is_private = (pimp.header.private.enabled == "private") ? "private" : "public" %}
      {% if (is_private == "private") and (config.plugins.login.enabled and grav.user.username) %}
          en cours de rédation / édition<br>
          pour bientôt !
      {% else %}
        {{ page.content }}
      {% endif %}
    </span>

    <div id="caroussel">
    {% for image in page.media %}
      {% if loop.first %}
      <span class="carou_item first active">
      {% else %}
      <span class="carou_item not_first">
      {% endif %}

      
      {% if loop.length != 1 %}
        <div id="carou_counter">
          {{ loop.index }} / {{loop.length}}
        </div>
      {% endif %}
      
          {{ image.cropResize(800, 800).html()|raw }}
          <a href="{{image.url}}">
            <p>{{ image.meta.title }}</p>
          </a>
      </span>
    {% endfor %} {# ! for image in pim.media#}
  
    
    {% if page.header.bas_de_page %}
      {{page.header.bas_de_page}}
    {% endif %}
  </div>


    
  </content_article>


  <script>
    $( ".carou_item" ).each(function( index ) {
      // console.log( index + ": " + $( this ).text() );
      $(this).on("click", function() {
        $(this).removeClass("active");
        let next = $(this).next('.carou_item');
        let isnext = (next.length=='1') ? next : $(this).parent().find('.carou_item').first();
        $(isnext).addClass("active");
      });
    });
  </script>

    {# {% include 'partials/related.html.twig' with {'origine':'default'} %} #}

  </article>
{% endblock %}
