{% extends 'partials/base.html.twig' %}

{% block content %}
{# !! START MODULAR #}

  {% set pagepage = page %}
  {# ?? {{pagepage.url}} #}

  {# ? ####################### #}
  {# ! ####### ! HAVE PARAMS ###}
  {# ? SI PARAMS (=?=) IF query (+) NOT Page pagination#}
  {% if uri.params and not uri.params|contains("page") %}
    {# ?? {{page.url}} #}
    {% set exppath = page.url|split('/') %}
    {% set current_section = exppath.1 %}
    <div class="content-padding modular query">
      current_section = {{current_section}} ----
    </div> 
  {%else%} {# ! uri.params #}
    {# ! -- login edit button #}
    {% include 'admin/edit_button.html.twig' %}

    {# ? ####################### #}
    {# ! ## ! DEFAULT SEARCHBOX ##}
    {# ? ####################### #}        
    {# ! -- simplesearch_searchbox -- modular_head #}  
    {% include 'partials/simplesearch_searchbox.html.twig' with{'origine':'modular_head'} %}
    {# ? {% include 'partials/default_article.html.twig' with {'origine':'collection', 'spec':'head'} %} #}

    {# ! ----------------------- #}
    {# ! -------- FOR ---------- #}
    {# ! ----------------------- #}
    {% for page in page.collection() %}

      {# ! DIV CONTENT #}
      <div class="modular-row callout modular">
        {% include 'partials/modular_mod.html.twig' with {'origine':'modular'} %}
      </div>
    {% endfor %} {# ! page.collection #}
    
    {% endif %} {# ! uri.params" #} 

</div> {# ! modular-row callout #}

{% endblock %}
{# !! END MODULAR #}