{% extends 'partials/simplesearch_base.html.twig' %}

{% block content %}

  {% set count = search_results ? search_results.count : 0 %}
  {% set uri_params_nospaces=uri.params|regex_replace('/%20/', '_') %}
  {% set exppath_param = uri_params_nospaces|split(':') %}
  {% set exppath_param_first = exppath_param.0 %}
  {% set exppath_param_first = exppath_param_first %}
  {# ? {{exppath_param_first}} #}



  {% set pagepage = page.slug %}

{# ! Render the list of blog posts (automatically filtered when using pagination) #}
{% set collection = page.collection() %}

{% set orderby_pls= (page.header.content.order.by) ? page.header.content.order.by : "header.date_pub"  %}
{% set orderdir_pls= (page.header.content.order.dir) ? page.header.content.order.dir : "dsc"  %}
{% set pagination_pls= (page.header.content.pagination) ? page.header.content.pagination : "non"  %}
{% set limit_pagination_pls= (page.header.content.pagination) ? page.header.content.limit : "8"  %}
  {# ? {{orderdir_pls}} #}
  {# ? {{orderby_pls}} #}
  {# ? {{pagination_pls}} #}
  {# ? {{limit_pagination_pls}} #}
  {# ? {{uri.params}} #}
{% set collection = page.find( page.url ).children %}
{% set widthpage = page.header.page_size|first %}
{% set article_class = (widthpage == "page_pleine") ? "post collection_item page_pleine" : "post collection_item not_page_pleine" %}


{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}




  <h1 class="search-header">{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS"|t }}</h1>
  <div class="center">
      {# !! ----- simplesearch_searchbox #}
      
      {% include 'partials/simplesearch_searchbox.html.twig' %}
  </div>




  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ? ####################### #}
  {# ! ######## SS ## ! QUERY ##}
  {# ? ####################### #}      
  {% if query %}
      {# ? SI RECHERCHE query #}


      <p id="search_result_total">
            {# {% set count = search_results ? search_results.count : 0 %} #}
          
            {% if count is same as( 1 ) %}
              {# sssssss1 #}
                {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_SINGULAR"|t(query|e)|raw }}
                <div id="search_result_total_reset"><a href="{{page.url}}">Reset</a></div>
            {% elseif (search_results.count=="0") %}      
            {# sssss0 #}
              0 Résultat pour : {{query}}
              {# {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query|e, count)|raw }} #}
              <div id="search_result_total_reset"><a href="{{page.url}}">Reset</a></div>
            {% else %}
              {# sssssels #}
                {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query|e, count)|raw }}
            {% endif %}
      </p>



      {%if (search_results.count=="0") and (page.slug!="search") %}
        <div id="fail_search_goglobal">
          <a href="/search/query:{{query}}">
            ⟶ Recherche globale
          </a>
        </div>        
      {%endif%}

      {# ? ############### #}
      {# ! ########### ENTETE #}
      {# ? ############## #}
      {# ! ############## SECTION  ################### ! #}
      
      
      <section id="search_results" class="have_params">



        {# <div id="tag_query"> #}
          {# <h1 id="tag_name">{{uri_query|capitalize}} : </h1><span class="tag_metas tag_title">{{query_val}}</span> #}
        {# </div> #}
        {# {{page.header.search_checkboxfilter|dump}} #}

        {# ! ############## search_results  ################### ! #}
      
  {% endif %}
  {# ? ########################### #}
  {# ! ######## END SS ## ! QUERY ##}
  {# ? ########################## #}      
    








      
  {%set is_parent_modular_bool = (is_parent_modular) ? "is_parent_modular_bool" : "" %}
  {# <section id="search_results" class="have_no_params collection {{origine}}" data-parent="{{is_parent_modular_bool}}">     #}

{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ######################### IF   ##   SEARCH  ################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# {% if page.slug=="search" %}  #}
  {# ! ######################### FOR   ##   TAXOS  ################################ ! #}
  
  {% for key in taxonomy.taxonomy|keys %} 
    {% if uri.param(key) %}
    {# ?? SETS #}
    {% set uri_query = key %}
    {% set query_val = uri.param(uri_query) %}
      
      {# ! ######################### IF   ##   QUERY_VAL  ################################ ! #}
      {% if query_val %}
        {# ! ############################################################################ ! #}
        {# ! ############################################################################ ! #}
        {# ! ############################################################################ ! #}
        {# ! ############################################################################ ! #}
        {# ! ############################################################################ ! #}
        {# ! ############################################################################ ! #}
        {# ! ######################### FOR   ##   findTaxonomy  ################################ ! #}
        {# {{(taxonomy.findTaxonomy({(uri_query):query_val})).count|dump }} #}
        {% if ((taxonomy.findTaxonomy({(uri_query):query_val})).count != "0") %}
          {% for pimp in taxonomy.findTaxonomy({(uri_query): query_val}) %}
            
            {# ? ####################### #}
            {# ! ########### ! YES ---- MODULAR ###}
            {# ? ####################### #}        
            {% if (origine == "modular_head") or (pimp.template == "modular/default") %}
              {# ! --- include -- # modular_searchpage_items #}
              {% include 'partials/modular_searchpage_items.html.twig' with {'origine':'have_params', 'cible':'have_params'} %}


            {# ? ####################### #}
            {# ! ########### ! NOT ---  MODULAR ###}
            {# ? ####################### #}        
            {% else %} 
              
              {% if folder_search %} {# ! ---- folder_search #}

                {# ! ########### ! FILTER ###}
                {% if  page.slug == pimp.parent.slug %} {# ! filter ; doit appartenir à la meme parentée TODO Filter sur FOR ? #}
                  <article class="box post post-excerpt collection_item taxtag {{origine}}">
                    {# ? dd #}
                    <header>
                        {# !! ---- headers #}
                        {% include 'partials/cover.html.twig' with {'origine':'taxtag'} %}
                        {% include 'partials/meta_header.html.twig' with {'origine':'taxtag'} %}
                      </header>
                    {# !! --- related #}
                    {% include 'partials/related.html.twig' with {'origine':'item'} %}
                  </article>
                {% endif %}  {# ! END filter #}

              {% else %}  {# ! NO folder_search =/= Modular == normal #}
              {# sssssds #}
                <article class="box post post-excerpt collection_item taxtag {{origine}}">
                  {# ? dd #}
                  <header>
                      {% include 'partials/cover.html.twig' with {'origine':'taxtag'} %}
                      {% include 'partials/meta_header.html.twig' with {'origine':'taxtag'} %}
                      {# ,'uri_query_pop':(uri_query),'query_val_pop':(query_val) #}
                  </header>
                  {# !! --- related#}
                  {% include 'partials/related.html.twig' with {'origine':'item'} %}
                </article>
                
              {% endif %}  {# !END if folder_search #}
    
            {% endif %}  {# !END MODULAR #}
            {# ! ########### ! YES ---- MODULAR ###}

          {% endfor %} {# ! pimp in taxonomy.findTaxonomy -- TAXO#}
        {% else %}   {# !!!! query == 0 #}
        Le tag demandé n'existe plus ({{query_val}})
        {% endif %}   {# !!!! query == 0 #}
      {% endif %}   {# !!!! query_val #}

    
        </div> {# ! content #}
      </section> {# ! #search_results #}
          
    {% endif %} {# ? uri.param(key) #}
  {% endfor %}  {# ? for key in taxonomy.taxonomy #}
  {# ! ######################### FOR   ##   TAXOS  ################################ ! #}

  {# ! ######################### FOR END  ##   findTaxonomy  ################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}











{% if no (query)  %} {# ! if slug search #}
{# ! ######################### IF  ##   SEARCH  ################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}


  {# ? ################## #}
  {# ! ########### ENTETE #}
  {# ? ################## #}
  {% set widthpage = page.header.page_size|first %}
  <div class="content-padding collection">
    {% set count = search_results ? search_results.count : 0 %}
    {{count|dump}}
    {% if (count > 0) or not search_results %}
      {%set is_parent_modular_bool = (is_parent_modular) ? "is_parent_modular_bool" : "" %}
      {# ? gridd #}
      {% if page.header.search_checkboxfilter != 0 %}
          <label data-text_before="infos"></label><input type="checkbox" name="collapse" id="handle2" checked="checked">
          <label data-text_before="grille"></label><input type="checkbox" name="collapse" id="handle3" checked="checked">
      {% endif %}
    {% endif %}
    
    
    <div class="content not_search_results {{origine}}" data-widthpage="{{widthpage}}">

    {# ? ############## ############# #}
    {# ! ####### END --#### ENTETE ####}
    {# ? ############ ############# ###}
      


    {% set orderby_pls= (page.header.content.order.by) ? page.header.content.order.by : "header.date_pub"  %}
    {% set orderdir_pls= (page.header.content.order.dir) ? page.header.content.order.dir : "dsc"  %}
    {% set pagination_pls= (page.header.content.pagination) ? page.header.content.pagination : "non"  %}
    {% set limit_pagination_pls= (page.header.content.pagination) ? page.header.content.limit : "21"  %}
    {# ? {{orderdir_pls}} #}
    {# ? {{orderby_pls}} #}
    {# ? {{pagination_pls}} #}
    {# ? {{limit_pagination_pls}} #}
    {# ? {{uri.params}} #}
    {# ? {{pimp.url}} #}
    {% set is_parent_modular = page.header.modular_parent %}  
    
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ? ############## ############# #}
  {# ! ####### FOR #### PIMP ######}
  {# ? ############ ############# ###}
  {# ! ### FOR ### ! #}
  {# ! Render the list of blog posts (automatically filtered when using pagination) #}
  {% set collection = page.collection() %}
  {% for pimp in collection.published.order(orderby_pls,orderdir_pls) %}

    {# ? ############## ############# #}
    {# ! ####### MODULAR --#### #######}
    {# ? ############ ############# ###}
    {% if is_parent_modular != "" %}
      {# !! ---- modular_searchpage_items #}
      {% include 'partials/modular_searchpage_items.html.twig' with {'origine':'collection', 'cible':'is_parent_modular_bool'} %}
    
      {# ! ############################################################################ ! #}
      {# ! ############################################################################ ! #}
      {# ! ############################################################################ ! #}
      {# ! ############################################################################ ! #}
      {# ! ############################################################################ ! #}
      {# ! ############################################################################ ! #}
    {% else %}
    {# ? ############## ############# #}
    {# ! ####### ELSE NOT MODULAR #####}
    {# ? ############ ############# ###}
    
    {# ! ---- default_article simple #}
    {% include 'partials/default_article.html.twig' with {'origine':origine} %}
  
  

    {% endif %}
    {# ! ####### END IF MODULAR #####}


  {% endfor %}
  {# ! ####### END FOR ## PIMP #####}
  {# ? ############ ############### #}
  {# ! ####### END FOR  PIMP ########}
  {# ? ############ ############# ###}      
  
  
  {# ! ####### PAGINATION ##### ! #}
  {% if config.plugins.pagination.enabled and collection.params.pagination %}
      {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
  {% endif %}
  {# ! ####### PAGINATION ##### ! #}
  
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  {# ! ############################################################################ ! #}
  
  </div> {# ! .simplesearch #}





  








{# {% else  %} #}

{# ??? ###################################################}
{# ??? ###################################################}
{# ??? ###################################################}
{# ??? ###################################################}
{# ??? ##############  DOIT LAISSER PASSER ###############}
{# ??? ############ + RECHERCHES == param /query #########}
{# ??? ############ + NON RECHERCHES #####################}
{# ??? ######### == ## TOUT SAUF LES TAGS ################}
{# ??? ######### == ## TAGS != /query ####################}
{# ??? ############ ... but /((xxx)):yyyy ################}
{# ??? ############ ... != "" : != empty #################}
{# ??? ############## . + != /query ######################}
{# ??? ###################################################}
{# ??? ###################################################}
{# ??? ###################################################}
{# ??? ###################################################}

{% elseif (exppath_param_first == "/query") or  (exppath_param_first == "") %} 
{# {% if count == 0  %} #}

{# ? {{count|dump}} #}
{# ? {{url.params|dump}} #}
{# ? {{exppath_param_first}} #}
{# ? {{count|dump}} #}
{# ? {{uri.query|dump}} #}



{# ! ############################################################################ ! #}
{# ! ###################### NO TAXI TAXO == DEFAULT + SEARCH #################### ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}

  {# ? ddddddddddddddddddsddddddddddddd #}


  {# ? ############### #}
  {# ! ########### ENTETE #}
  {# ? ############## #}
  {# ! ############## SECTION  ################### ! #}
  
  
  <section id="search_results" class="have_params">
    {% set count = search_results ? search_results.count : 0 %}
    {#? {{count|dump}} #}
    {% if (count > 0) or not search_results %}
      {% set is_parent_modular_bool = (is_parent_modular) ? "is_parent_modular_bool" : "" %}
      {# ? gridd #}
      {% if page.header.search_checkboxfilter != 0 %}
          <label data-text_before="infos"></label><input type="checkbox" name="collapse" id="handle2" checked="checked">
          <label data-text_before="grille"></label><input type="checkbox" name="collapse" id="handle3" checked="checked">
      {% endif %}
    {% endif %}

<div class="content not_search_results {{origine}}" data-widthpage="{{widthpage}}">


  {% set orderby_pls= (page.header.content.order.by) ? page.header.content.order.by : "header.date_pub"  %}
  {% set orderdir_pls= (page.header.content.order.dir) ? page.header.content.order.dir : "dsc"  %}
  {% set pagination_pls= (page.header.content.pagination) ? page.header.content.pagination : "non"  %}
  {% set limit_pagination_pls= (page.header.content.pagination) ? page.header.content.limit : "8"  %}
    {# ? {{orderdir_pls}} #}
    {# ? {{orderby_pls}} #}
    {# ? {{pagination_pls}} #}
    {# ? {{limit_pagination_pls}} #}
    {# ? {{uri.params}} #}
    {# ? {{pimp.url}} #}
    {% set is_parent_modular = page.header.modular_parent %}  
    
  
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ? ############## ############# #}
{# ! ####### FOR #### PIMP ######}
{# ? ############ ############# ###}
{# ! ### FOR ### ! #}
{# ! Render the list of blog posts (automatically filtered when using pagination) #}

{# ??? ################################### #}
{# ??? TRICKS HERE === if search_results => Search /Not/ => Normal Page == childrens #}
{% set search_results_or_childrens=(search_results) ? search_results : page.children %}
{# ??? ################################### #}


{# {% set collection = page.collection({
  'items': '@self.children', 
  'pagination': true, 
  'order': {'by': 'slug'}, 
  'limit': 10}) 
%} #}

 {# {% set collection = page.collection() %} #}
 {# {% for pimp in collection %} #}

  {% for pimp in search_results_or_childrens %}

    {% if (pimp.template == "modular") or (pimp.template == "modular/default") %}
      {# ! --- include -- # ---- modular_mod #}
      {% include 'partials/modular_mod.html.twig' with {'origine':'search'} %}
    
    {# ! ########### ! NOT ---  MODULAR :: ((( DEFAULT  ))) default_article ###}
    {% else %} 
        {% include 'partials/default_article.html.twig' with {'origine':origine} %}
    {% endif %} 
  
  {% endfor %}
  {# ! ####### END FOR ## PIMP #####}
  {# ? ############ ############### #}

<div id="is_pagination">
{# ! ####### PAGINATION ##### ! #}
{# ! ####### DONT WORKS ##### ! #}
  {% if config.plugins.pagination.enabled and collection.params.pagination %}
      {% include 'partials/pagination.html.twig' with {'base_url':'/b', 'pagination':collection.params.pagination} %}
  {% else %}
    {# no pagi #}
  {% endif %}
</div>
{# ! ####### PAGINATION ##### ! #}



{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}

</div> {# ! .simplesearch #}




{% else %}




{% endif %}


{# {% endif %} #}











{# {% endif %} #}
{# ! ######################### IF  ##   SEARCH  ################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}
{# ! ############################################################################ ! #}



</div> {# ! .simplesearch #}

{% endblock %}
