{% extends 'partials/base.html.twig' %}

{% block content %}
{# !! tags.html.twig #}
  {# ? ### SOURCE ### https://gist.github.com/tboulogne/25cbb91c2f15a75baefd961934326520 #}
  {% for key in taxonomy.taxonomy|keys %} 

    {% if uri.param(key) and uri_query == "" %}
      {# ? taagg query #}
      <h2 class="handle_off">
        <label for="handle1">
            <a id="a_tag_liste" href="/tags/l">Tag list</a>
        </label>
      </h2>

      {% set uri_query = key %}
      {% set query_val = uri.param(uri_query) %}

      {# ! ### CONTENTS ### #}
      {# ! --- GO BACK breadcrumbs #}
      {% include 'partials/goback.html.twig' with {'origine':'collection','tag':(uri_query),val:(query_val)} %}
      {# ? {% set fullwidth = pim.header.fullwidth %} #}
      {# ? <h1 id="tag_name">{{uri_query|capitalize}} : <span class="tag_metas tag_title">{{query_val}}</h1> #}

      <section id="search_results" class="have_no_params">
        <label data-text_before="Infos"></label><input type="checkbox" name="collapse" id="handle2" checked="checked">
        <label data-text_before="grille"></label><input type="checkbox" name="collapse" id="handle3" checked="checked">
        

        <div class="content search_results">
          {% for pimp in taxonomy.findTaxonomy({(uri_query):(query_val)}) %}
            <article class="box post post-excerpt collection">
              {# ?? ccccctag #}
              <header>
                  {% include 'partials/cover.html.twig' with {'origine':'coll_item'} %}
                  {% include 'partials/meta_header.html.twig' with {'origine':'coll_item'} %}
              </header>
            </article>
          {% endfor %} 
        </div>
      </section>

    {# ! NO PARAMS #}
    {% elseif not uri.params %} {# ? {% if uri.param(key) %} #}
    {# ?? taagg query #}

      {% if loop.first %} 
          {# ! ---- taxonomylist_wrapper #}
          {% include 'partials/taxonomylist_wrapper_auto.html.twig' with {'origine':'no_tags','collapse':'title'} %}
      {% endif %}

    {% endif %}
  
  {# ! ELSE #}
  {% else  %}
    ( rien : néant)
    <br><a href="/tags/l">liste de tags</a>
    <br><a href="/search/">recherche globale</a>
  {% endfor %}





{# !! END tags.html.twig #}
{% endblock %}
