{# !! NOTICE URL /tags/l #}

{% embed 'partials/base.html.twig' %}

{% block content %}
    {# ? Split QUERY:VALUE #}
    {% set taxname = uri.query|split('=')[0]  %}
    {% set taxval =  uri.query|split('=')[1]|replace({'+':" "})  %}
    
    {# !! taxname #}
    {% if taxname %}
		{% set c = breadcrumbs.get() %}
		{% set crumbs = c |merge([{'menu':taxname|humanize,'url':"/taxonomy?#{taxname}",'routable':true}]) %}
		{% if taxval %}
			{% set crumbs = crumbs |merge([{'menu':taxval|humanize,'url':'/taxonomy','routable':false}]) %}
		{% endif%}
	{% endif %}


	{% if config.plugins.breadcrumbs.enabled %}
        {# ! ----- breadcrumbs #}
        {% include 'partials/breadcrumbs.html.twig' with {'crumbs':crumbs} %}
    {% endif %}

    {# ! CONTENT #}
    <div class="blog-content-item grid pure-g-r">   
        {{ page.content }}  
    </div>  

    <div class="content-wrapper tags_liste">
        <div id="listing_tags" class="block pure-u-2-3 h-feed">
            {# ! have tax name == NOT HOME /l #}
            {% if taxname %}
                    {% if taxval %}
                         <section class="topiclist"> 
                         {# ? aatt #}
                            {% set collection = taxonomy.findTaxonomy({(taxname): taxval}) %}
                             {% include 'partials/item-cards.html.twig' with {'collection': collection,'params':[{'name':taxname, 'val': taxval}]} %} 
                        </section>
                    {% else %}
                        <section>
                             <ul class='item-topics topics'> 
                             {# ? bbtt #}
                            {% for cat in taxonomy.taxonomy[taxname]|keys|sort %}
                                <a class="item-topic topic" href="{{ base_url }}/tags/{{taxname}}:{{taxval}}{{ cat | url_encode }}"><li class="{{ taxname }}">{{ cat|humanize }}</li></a>
                            {% endfor %}
                            </ul>
                        </section>
                    {% endif %}
            
            {% else %}

            {# ! DONT have tax name == HOME Liste #}
                <section class="tax_home">
                     <ul class="item-topics topics tax_home"> 
                     {# ? cctt #}
                        {% for key in taxonomy.taxonomy|keys %}
                            {# todo exclude #}
                            {# todo {% if key  not in ['archives_month','archives_year','category','categorie'] %} #}
                                 <a class="item-topic topic tax_home" href="{{ page.url }}?{{key}}">
                                    {% set key = (key == "ou") ? "où" : key %}
                                    <li class="{{ key }}" >{{key|capitalize}}</li>
                                 </a>
                            {# todo {% endif %}     #}
                        {% endfor%}
                </ul>
                </section>    
            {% endif %}
        </div>
    </div>
    {% endblock %}
{% endembed %}
